.admin {

  margin: 80px 0;

  &__top {
    margin-bottom: 80px;
  }
  // 40 top
  &__section {
    margin-top: 40px;
    
    display: flex;
  }
  // 40 left
  &__block {
    display: flex;
    align-items: center;
    &:not(:first-child) {
      margin-left: 40px;
    }
    
    &--end {
      justify-content: flex-end;
    }

    &--start {
      align-items: flex-start;
    }
  }
  // 10 left
  &__block-item {
    flex-shrink: 0;
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
  // 10
  &__right {
    margin-right: 10px
  }
  // 25
  &__left {
    margin-left: 25px
  }
  // fz12
  &__text {
    @include fsl(12px);

    &--center {
      text-align: center
    }
    &--end {
      text-align: end
    }

    &--mt {
      margin-top: 20px;
    }
  }
  // fz16
  &__caption {
    @include fsl(16px);

    &--end {
      text-align: end;
    }
  }

  // w500
  &__large {
    width: 500px;
  }
  // w300
  &__big {
    width: 300px;
  }
  // w200
  &__ll {
    width: 200px;
  }
  // w100
  &__mid {
    width: 100px;
  }
  // w70
  &__small {
    width: 70px;
  }

  // 20px top
  &__row {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
  // 10px top
  &__horiz {
    display: flex;

    &:not(:first-child) {
      margin-top: 10px;
    }

    &--noflex {
      display: block;
    }
  }
  // 20 left
  &__item {
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  &__show {
    display: flex;
    justify-content: center;

    text-decoration: underline;
    @include fsl(16px);
    transition: $transition;
    cursor: pointer;

    &:hover {
      color: $color-blue;
    }

    &--start {
      justify-content: flex-start;
    }
  }

  &__grid {
    display: grid;

    row-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }

  &__first {
    &:not(:first-child) {
      margin-left: 0;
    }
  }

  &__container {
    display: flex;
  }

  &__head {
    padding-top: 30px;

    border-top: 1px solid $color-black;
  }

  &__calendar {
    margin-top: 50px;

  }
  &__calendar-row {
    display: flex;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__inner {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__icon {
    margin-top: 10px;
  }

  &__tab {
    display: none;

    &.active {
      display: block;
    }
  }

  &__list {

  }

  &__list-item {

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__tour {
    display: flex;
  }
  &__tour-col {
    // width: 200px;

    &:nth-child(2) {
      margin-left: 40px;
    }
  }
}
