.aside-button {
  padding: 9px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: $breakpoint) {
    display: none;
  }
  width: 100%;
  @media (min-width: $breakpoint-m) {
    width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
  }

  border-radius: 10px;
  border: 1px solid $color-light-gray;
  cursor: pointer;

  &__text {
    @include fsl(16px);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__svg {
    width: 20px;
    height: 20px;

    path {
      stroke: $color-black;
    }
  }
}