.aside-button {
  // padding: 9px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: $breakpoint) {
    display: none;
  }
  width: 100%;
  
  cursor: pointer;

  &__text {
    @include fsl(16px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__icon {
    margin-left: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: $transition;
  }

  &__svg {
    width: 20px;
    height: 20px;
    transition: $transition;

    path {
      stroke: $color-black;
    }
  }
}