.breadcrumb {
  $comp: &;
  padding-right: 60px;
  width: calc(100% + 60px);
  @media (max-width: $breakpoint) {
    padding: 0 20px;
    margin-left: -20px;

    width: calc(100% + (20px * 2));
  }
  display: flex;

  overflow-x: scroll;
  @include scrollbar-hidden;

  &__list {
    display: flex;
    flex-shrink: 0;
  }

  &__item {
    position: relative;

    display: flex;

    &:not(:first-child) {
      margin-left: 10px;
      padding-left: calc(10px + 4px);

      &::before {
        $size: 4px;

        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        width: $size;
        height: $size;

        background: $color-gray;
        border-radius: 50%;
      }
    }

    &--active {

      &:not(:first-child) {
        &::before {
          background: $color-black;
        }
      }

      #{$comp}__link {
        color: $color-black;
      }
    }
  }

  &__link {
    white-space: nowrap;
    color: $color-gray;
    @include fsl(14px);
  }
}