.button-icon {
  $comp: &;

  padding: 15px 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  border-radius: 12px;
  border: 1px solid $color-gray;
  transition: $transition;
  cursor: pointer;

  &:hover {
    background: $color-brown;
  }

  &--calculator {
    background: $color-blue;
    border-color: $color-blue;
    border-radius: 14px;

    &:hover {
      border-color: $color-brown;
    }

    #{$comp}__icon {
      width: 26px;
      height: 26px;
    }
  }

  &__icon {
    margin-right: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    @include fsl(16px);
  }
}