.button {
  padding: 11px 25px;
  @media (min-width: $breakpoint) {
    padding: 15px 25px;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  @include fsl(14px);
  @media (min-width: $breakpoint) {
    @include fsl(16px);
  }
  border-radius: 12px;
  border: 1px solid $color-black;
  transition: $transition;
  cursor: pointer;

  &:hover {
    border-color: $color-brown;
    background: $color-brown;
  }

  &--m {
    padding: 9px 25px;
  }

  &--xl {
    width: 227px;
    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 2 - #{$col-gap-d});
    }
  }
}