.calculator {
  $comp: &;

  position: relative;

  &--simple {
    #{$comp}__grid {
      margin-top: 15px;
      grid-template-areas: 
        "A B"
        "C C"
        "D D"
        "I I"
      ;
      @media (min-width: $breakpoint-m) {
        grid-template-areas: 
          "A B C D"
          "I I I I"
        ;
      }
      @media (min-width: $breakpoint) {
        margin-top: 45px;
        column-gap: 30px;
        grid-template-areas: 
          "A B C D I"
        ;
        align-items: flex-start;
      }
    }

    #{$comp}__item {

      &:nth-child(3) {
        @media (min-width: $breakpoint-m) {
          align-self: auto;
        }
      }

      &:nth-child(4) {
        margin: 0;
      }

      &:nth-child(5) {
        grid-area: I;
        @media (min-width: $breakpoint) {
          grid-area: auto;
        }
      }
    }

    #{$comp}__payments--mobile {
      @media (min-width: $breakpoint-m) {
        top: 25px;
        right: 28px;
        left: auto;
        bottom: auto;
      }
    }

    #{$comp}__price-col {

      &:nth-child(1) {
        @media (min-width: $breakpoint-m) {
          width: auto;
        }
        @media (min-width: $breakpoint) {
          padding-left: calc(#{$col-part-d} * 4 + 30px);
          padding-right: 20px;
          width: calc(#{$col-part-d} * 8);
        }
      }

      &:nth-child(2) {
        @media (min-width: $breakpoint-m) {
          margin-top: 20px;
          width: 100%;
        }
        @media (min-width: $breakpoint) {
          margin-top: 0;
          // width: calc(#{$col-part-d} * 3 - #{$col-gap-d} - 40px);
          width: auto;
          flex-grow: 1;
        }
      }
    }
    #{$comp}__price-left {
      @media (min-width: $breakpoint-m) {
        width: auto;
      }
    }
    #{$comp}__price-right {
      @media (min-width: $breakpoint-m) {
        margin-left: 43px;
        width: auto;
        max-width: 275px;
      }
      @media (min-width: $breakpoint) {
        margin-left: 20px;
      }
      @media (min-width: $breakpoint-xl) {
        margin-left: 66px;
      }
    }
  }

  &--price {

    #{$comp}__grid {
      
      @media (max-width: $breakpoint-m - 1px) {
        grid-template-areas: 
          "A B"
          "C C"
          "D D"
          "I I"
        ;
      }
    }

    #{$comp}__price-col {

      &:nth-child(1) {
        flex-wrap: wrap;
        @media (min-width: $breakpoint-m) {
          flex-wrap: nowrap;
        }
        @media (min-width: $breakpoint) {
          padding-left: calc(#{$col-part-d} * 4 + 30px);
        }
      }
    }

    #{$comp}__price-left {
      flex-shrink: 0;
      width: calc(#{$col-part-m} * 2);
      @media (min-width: $breakpoint-m) {
        margin-right: 53px;
        width: calc(#{$col-width-m} - 20px);
      }
      @media (min-width: $breakpoint) {
        margin-right: 0;
        width: auto;
      }
    }
    #{$comp}__price-right {
      margin-top: 20px;
      width: auto;
      @media (min-width: $breakpoint-m) {
        margin-top: 0;
        flex-shrink: 0;
      }
    }
  }

  &__container {
    @media (min-width: $breakpoint) {
      padding: 50px 50px 120px;

      border: 1px solid $color-light-gray;
      border-radius: 14px;
    }
  }

  &__mobile {
    margin-top: 15px;
    @media (min-width: $breakpoint) {
      display: none;
    }
  }
  &__desktop {
    margin-top: 45px;
    @media (max-width: $breakpoint - 1px) {
      display: none;
    }
  }

  &__top {
    margin-bottom: 40px;
    @media (min-width: $breakpoint-m) {
      margin-bottom: 20px;
    }
    @media (min-width: $breakpoint) {
      margin-bottom: 50px;
    }

    display: flex;
    flex-wrap: wrap;
    @media (min-width: $breakpoint-m) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    @media (min-width: $breakpoint) {
      justify-content: flex-start;
    }
  }
  &__top-col {
    flex-shrink: 0;
    width: 100%;
    @media (min-width: $breakpoint-m) {
      width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
    }
    @media (min-width: $breakpoint) {
      width: auto;
    }

    &:nth-child(1) {
      margin-bottom: 20px;
      @media (min-width: $breakpoint-m) {
        margin-bottom: 0;
      }
      display: flex;
      justify-content: space-between;
      @media (min-width: $breakpoint) {
        justify-content: flex-start;
      }
    }

    &:nth-child(2) {
      @media (min-width: $breakpoint) {
        margin: 0 60px;
      }
      @media (min-width: $breakpoint-xl) {
        margin-left: 139px;
        margin-right: 103px;
      }
    }

    &:nth-child(3) {
      @media (min-width: $breakpoint) {
        display: flex;
      }
    }

  }
  &__top-item {
    flex-shrink: 0;
    width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
    @media (min-width: $breakpoint-m) {
      width: calc(#{$col-width-m});
    }
    @media (min-width: $breakpoint) {
      width: auto;
    }

    &:not(:first-child) {
      @media (min-width: $breakpoint) {
        margin-left: 66px;
      }
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__grid {
    display: grid;
    align-items: center;
    column-gap: 21px;
    grid-template-areas: 
      "A B"
      "C D"
      "E F"
      "G H"
      "I I"
    ;
    grid-template-columns: repeat(2, 1fr);
    @media (min-width: $breakpoint-m) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: 
        "A B E F"
        "C D G H"
        "I I I I"
      ;
    }
    @media (min-width: $breakpoint) {
      align-items: flex-start;
      grid-template-columns: repeat(4, max-content);
      grid-template-areas: 
        "A B E F I"
        "C D G H J"
      ;
    }
  }
  &__grid-row {
    grid-area: I;
    display: flex;
    flex-wrap: wrap;
    @media (min-width: $breakpoint-m) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
  &__grid-col {
    flex-shrink: 0;
    width: 100%;
    @media (min-width: $breakpoint-m) {
      width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
    }

    &:nth-child(2) {
      margin-top: 20px;
      @media (min-width: $breakpoint-m) {
        margin-top: 0;
        align-items: center;
      }
      display: flex;
      justify-content: space-between;
    }
  }
  &__grid-item {
    flex-shrink: 0;
    width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
    @media (min-width: $breakpoint-m) {
      width: calc(#{$col-width-m});
    }
  }

  &__item {
    $text-item: (
      1: A,
      3: B,
      5: E,
      7: F,
    );

    $count-item: (
      2: C,
      4: D,
      6: G,
      8: H,
    );
    @each $index, $item in $text-item {
      &:nth-child(#{$index}) {
        grid-area: $item;
      }
    }
    @each $index, $item in $count-item {
      &:nth-child(#{$index}) {
        margin-bottom: 20px;
        grid-area: $item;
      }
    }
  }
  
  &__label {
    margin-bottom: 10px;

    @include fsl(16px, 160%);

    &--big {
      @media (min-width: $breakpoint) {
        margin-bottom: 20px;
      }
    }
  }

  &__data {
    width: 158px;
    @media (min-width: $breakpoint) {
      width: 146px;
    }
  }

  &__select {
    @media (min-width: $breakpoint) {
      width: 146px;
    }
  }

  &__num {
    @media (min-width: $breakpoint) {
      max-width: 303px;
    }
    
    font-weight: 500;
  }

  &__text {
    font-weight: 500;
    @include fsl(16px);
  }

  &__description {
    margin-top: 10px;

    color: $color-gray;
    @include fsl(13px, 160%);
  }

  &__payments {
    position: absolute;
    display: none;
    @media (min-width: $breakpoint) {
      display: block;
      top: 58px;
      right: calc(#{$col-width-d});
      
    }
    
    &--mobile {
      left: 0;
      bottom: 20px;
      @media (min-width: $breakpoint-m) {
        left: 20px;
        bottom: 37px;
      }
      
      display: block;
      @media (min-width: $breakpoint) {
        display: none;
      }
    }
  }
  &__payments-title {
    font-weight: 500;
    @include fsl(14px);
    @media (min-width: $breakpoint) {
      @include fsl(20px);
    }
  }
  &__payments-row {
    margin-top: 10px;
    @media (min-width: $breakpoint) {
      margin-top: 20px
    }

    display: flex;
  }
  &__payments-item {

    padding: 8px;
    @media (min-width: $breakpoint) {
      padding: 10px 12px;
    }

    background: $color-light-gray;
    border-radius: 10px;

    &:not(:first-child) {
      margin-left: 5px;
    }
  }
  &__payments-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 49px;
    height: 23px;
    @media (min-width: $breakpoint) {
      width: 60px;
      height: 38px;
    }
  }

  &__price {
    margin-top: 20px;
    padding: 0 20px;
    margin-left: -20px;

    width: calc(100% + (20px * 2));
    @media (min-width: $breakpoint-m) {
      margin-top: 40px;
      margin-left: 0;
      padding: 0;
      width: auto;
    }
    @media (min-width: $breakpoint) {
      margin: -65px 40px 0;
    }

    background: $color-aqua;
    @media (min-width: $breakpoint) {
      border-radius: 14px;
    }
  }
  &__price-container {
    position: relative;
    padding: 20px 0 108px;
    @media (min-width: $breakpoint-m) {
      padding: 20px 20px 35px;
    }
    @media (min-width: $breakpoint) {
      padding: 34px 40px 24px;
    }
  }
  &__price-row {
    display: flex;
    flex-wrap: wrap;
    @media (min-width: $breakpoint) {
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__price-col {
    flex-shrink: 0;
    width: 100%;
    @media (min-width: $breakpoint) {
      width: auto;
    }
    display: flex;

    &:nth-child(1) {
      @media (min-width: $breakpoint-m) {
        width: 50%;
      }
      @media (min-width: $breakpoint) {
        width: auto;
      }
    }
    &:nth-child(2) {
      margin-top: 20px;
      @media (min-width: $breakpoint-m) {
        margin-top: 0;
        width: 50%;
      }
      @media (min-width: $breakpoint) {
        width: auto;
      }
    }
    &:nth-child(3) {
      margin-top: 20px;
      @media (min-width: $breakpoint-m) {
        width: 50%;
        margin-left: auto;
      }
      @media (min-width: $breakpoint) {
        margin-top: 0;
        margin-left: 0;
        width: calc(#{$col-part-d} * 3 - #{$col-gap-d} - 40px);
      }
    }
  }
  &__price-item {
    width: calc(100% / 2);
    @media (min-width: $breakpoint) {
      width: auto;
    }

    &:not(:first-child) {
      @media (min-width: $breakpoint) {
        margin-left: 92px;
      }
    }
  }
  &__price-left {
    width: 50%;
    @media (min-width: $breakpoint) {
      width: auto;
    }
  }
  &__price-right {
    width: 50%;
    @media (min-width: $breakpoint) {
      margin-left: 66px;
      width: auto;
    }
  }
  &__price-label {
    @include fsl(16px, 160%);
    white-space: nowrap;
  }
  &__price-num {
    margin-top: 10px;
    @media (min-width: $breakpoint) {
      margin-top: 20px;
    }
    font-weight: 500;
  }
  &__price-number {
    margin-top: 10px;
    @media (min-width: $breakpoint) {
      margin-top: 0;
      @include fsl(40px);
    }
    font-weight: 500;
  }
}