.calendar-card {
  padding: 12px;

  width: 120px;
  height: 134px;

  border: 1px solid $color-light-gray;
  border-radius: 8px;
  cursor: pointer;

  &__container {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}