.counter {
  $comp: &;
  $size: 52px;
  $size-n: 68px;

  display: flex;
  align-items: center;

  &__item {

    width: $size;
    height: $size;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid $color-light-gray;
    cursor: pointer;
    transition: $transition;
    background: none;

    &:hover {
      border-color: $color-blue;
    }

    &:first-child {
      border-radius: 14px 0 0 14px;
      // border-right: none;
    }

    &:last-child {
      border-radius: 0 14px 14px 0;
      // border-left: none;
    }

    &.disabled {

      &:hover {
        border-color: $color-light-gray;
      }

      #{$comp}__svg {
        opacity: 0.4;
      }
    }
  } 


  &__number {

    width: $size;
    @media (min-width: $breakpoint) {
      width: $size-n;
    }
    height: $size;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid $color-light-gray;
    border-left: none;
    border-right: none;
    @include fsl(16px);
    // -webkit-touch-callout: none;
    // -webkit-user-select: none;  
    // -khtml-user-select: none;   
    // -moz-user-select: none;     
    // -ms-user-select: none;       
    // user-select: none;  
  }

  &__plus {
    width: 24px;
    height: 24px;

    path {
      stroke: $color-black;
    }
  }

  &__svg {
    transition: $transition;
  }
}
