.footer {
  @media (min-width: $breakpoint) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  

  background: $color-light-blue;

  &__inner {
    padding: 20px 0 40px;
    @media (min-width: $breakpoint) {
      padding: 60px 0 40px;
    }
  }

  &__container {
    display: grid;
    grid-template-areas: 
      "A A"
      "B B"
      "C C"
      "D D"
    ;
    @media (min-width: $breakpoint-m) {
      grid-template-areas: 
        "A C"
        "B C"
        "B D"
      ;
    }
    @media (min-width: $breakpoint) {
      grid-template-areas: 
        "A B"
        "A C"
        "D D"
      ;
    }
    grid-template-columns : repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 20px;
    @media (min-width: $breakpoint) {
      column-gap: 40px;
      row-gap: 110px;
    }
  }

  &__choice {
    grid-area: A;

    counter-reset: index;
  }
  &__choice-item {
    counter-increment: index;
  }
  &__choice-link {
    position: relative;
    z-index: 0;

    @include fsl(30px);
    @media (min-width: $breakpoint) {
      @include fsl(60px);
    }
    transition: $transition;

    &::before {
      content: counter(index);
      position: absolute;
      z-index: -1;
      left: 0;
      top: 70%;
      transform: translateY(-50%);

      @include f-3;
      color: $color-white;
      transition: $transition;
      @include fsl(60px);
      @media (min-width: $breakpoint) {
        @include fsl(110px);
      }
    }

    &:hover {
      color: $color-white;
    }
    &:hover::before {
      color: $color-black;
    }
  }

  &__nav {
    grid-area: B;
  }

  &__media {
    grid-area: C;
    @media (min-width: $breakpoint) {
      margin-top: 20px;
    }
  }
  &__media-item {
    display: flex;
    align-items: center;

    &:last-child {
      @media (min-width: $breakpoint) {
        margin-top: 40px;
      }

      align-items: flex-start;
    }
  }
  &__media-icon {
    margin-right: 20px;
    @media (min-width: $breakpoint) {
      margin-right: 0;
      width: calc(#{$col-width-d});
    }
  }
  &__media-phone {
    @include fsl(30px);
    @media (min-width: $breakpoint) {
      @include fsl(60px);
    }
  }
  &__media-mail {
    @include fsl(16px, 160%);
    @media (min-width: $breakpoint) {
      @include fsl(25px, 130%);
    }
  }
  &__media-text {
    @include fsl(14px);
    @media (min-width: $breakpoint) {
      @include fsl(16px);
    }
  }

  &__bot {
    grid-area: D;
    display: grid;
    grid-template-columns : repeat(2, 1fr);
    row-gap: 10px;
    grid-template-areas: 
      "A A"
      "B C"
      "B D"
      "B E"
    ;
    @media (min-width: $breakpoint-m) {
      grid-template-columns : 1fr;
      grid-template-areas: 
        "A"
        "C"
        "D"
        "E"
        "B"
      ;
    }
    @media (min-width: $breakpoint) {
      grid-template-areas: 
        "B C A E"
      ;
      grid-template-columns : repeat(4, 1fr);
      column-gap: 40px;
      align-items: center;
    }
  }

  &__social {
    grid-area: A;
    
    margin-bottom: 30px;
    @media (min-width: $breakpoint) {
      margin-bottom: 0;
    }
  }

  &__logo {
    @media (min-width: $breakpoint-m) {
      margin-top: 30px;
    }
    
    @media (min-width: $breakpoint) {
      margin-top: 0;
    }

    grid-area: B;
    display: flex;
    align-items: center;
  }
  &__logo-img {
    flex-shrink: 0;
    width: 83px;
    mix-blend-mode: multiply;
  }

  &__privacy {
    grid-area: C;
    @include fsl(15px);
    transition: $transition;

    &:hover {
      color: $color-white;
    }
  }

  &__award {
    grid-area: D;
    @media (min-width: $breakpoint) {
      grid-area: none;
      display: none;
    }
    @include fsl(15px);
  }

  &__corp {
    grid-area: E;
    @media (min-width: $breakpoint) {
      justify-self: end;
    }

    @include fsl(15px);
  }
  &__corp-link {
    color: $color-white;
    font-weight: 500;
  }
}