.form {
  $comp: &;

  &[data-form-hidden] {
    #{$comp}__container {
      display: none;
    }
  }

  &__title {
    margin-bottom: 20px;
    @media (min-width: $breakpoint-m) {
      margin-bottom: 40px;
    }

    @media (min-width: $breakpoint-m) {
      text-align: center;
    }

    &--left {
      text-align: left;
    }
  }

  &__item {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__input {
    padding: 9px 20px;
    @media (min-width: $breakpoint) {
      padding: 19px 20px;
    }

    width: 100%;

    @include fsl(16px);
    @include f-main;
    border: 1px solid $color-light-gray;
    border-radius: 10px;
    transition: $transition;
    @media (min-width: $breakpoint) {
      border-radius: 14px;
    }

    @include placeholder {
      color: $color-black;
    }

    &.parsley-error {
      border-color: $color-red;
      color: $color-red;
    }

    &:focus {
      border-color: $color-blue;
    }

    &--small {
      font-size: 12px;
      // @include placeholder {
      //   font-size: 14px;
      // }
    }
  }

  &__textarea {
    padding: 9px 20px;
    @media (min-width: $breakpoint) {
      padding: 19px 20px;
    }

    width: 100%;
    min-height: 110px;

    @include fsl(16px, 130%);
    @include f-main;
    resize: none;
    border-radius: 14px;
    border: 1px solid $color-light-gray;

    @include placeholder {
      @include fsl(16px);
      color: $color-black;
    }
  }

  &__wrapper {
    margin: 20px 0;
    @media (min-width: $breakpoint) {
      margin: 25px 0;
    }
  }
  

  &__response {
    display: none;

    &[data-response-active] {
      display: block;
    }
  }
  &__response-message {
    text-align: center;

    &--md {
      @media (min-width: $breakpoint) {
        padding: 0 calc(#{$col-gap-d});
      }
    }
  }
}

.parsley-errors-list {
  margin-left: 20px;
  li {
    @include fsl(11px, 130%);
    color: $color-red;
  }
}