.guides-card {
  $comp: &;
  $scale-rate: 1.2;

  cursor: pointer;
  transform: scale(calc(1 + .001));
  &:hover {

    #{$comp}__img {
      transform: scale($scale-rate);
    }
    #{$comp}__ball {
      transform: translate(-50%, 50%) scale($scale-rate);
    }
  }

  &__container {
    position: relative;
    z-index: 0;

    display: flex;
    align-items: center;

    border-radius: 10px;
    overflow: hidden;
    transform: scale(calc(1 + .001));

    &::before {
      content: "";
      position: absolute;
      z-index: 0;
      left: 0;
      right: 0;
      bottom: 0;

      height: 73px;
      @media (min-width: $breakpoint-m) {
        height: 77px;
      }
      @media (min-width: $breakpoint) {
        height: 108px;
      }

      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
      opacity: 0.4;
      border-radius: 10px;
    }
  }

  &__img {
    position: relative;
    z-index: -1;

    width: 100%;

    transition: $transition;
    transform: scale(calc(1 + .001));
  }

  &__name {
    margin-bottom: 10px;
    @media (min-width: $breakpoint) {
      margin-bottom: 20px;
    }

    white-space: nowrap;
    font-weight: 500;
    @include fsl(20px);
    @media (min-width: $breakpoint) {
      @include fsl(22px);
    }
  }

  &__button {
    position: absolute;
    z-index: 1;
    left: 14px;
    bottom: 14px; 
    @media (min-width: $breakpoint) {
      left: 20px;
      bottom: 20px; 
    }

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__svg {
    $size-t: 24px;
    @media (max-width: $breakpoint - 1px) {
      width: $size-t;
      height: $size-t;
    }
  }

  &__ball {
    $size-d: 178px;
    $size-t: 127px;
    $size-m: 121px;

    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);

    width: $size-m;
    height: $size-m;
    @media (min-width: $breakpoint-m) {
      width: $size-t;
      height: $size-t;
    }
    @media (min-width: $breakpoint) {
      width: $size-d;
      height: $size-d;
    }

    transition: $transition;
    border-radius: 50%;
    background: $color-blue;
  }

  &__bot {
    margin-top: 20px;
  }

  &__label {
    margin-bottom: 5px;

    font-weight: 500;
    @include fsl(14px);
    color: $color-gray;
  }

  &__text {
    @include fsl(16px, 160%);
  }

  &__sign {
    $padding: 15px;

    padding: 0 $padding; // safari issue
    position: absolute;
    top: calc(30px - 10px);
    right: calc(26px - #{$padding});
    @media (min-width: $breakpoint) {
      top: 30px;
      right: calc(40px - #{$padding});
    }

    @include fsl(40px, 180%);
    color: $color-white;
    @include f-3;
  }
}