.header {
  $comp: &;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  transition: $transition;
  border-bottom: 1px solid $color-light-gray;
  background: $color-white;

  &--transparent {
    background: transparent;
    border-bottom: 1px solid rgba($color-white, 0.2);

    #{$comp}__img {
      opacity: 0;

      &--white {
        opacity: 1;
      }
    }

    #{$comp}__phone-link {
      color: $color-white;
    }
    #{$comp}__phone-icon {
      background: rgba(157, 231, 255, 0.6);
    }
    #{$comp}__phone-svg {
      path {
        stroke: $color-white;
      }
    }

    #{$comp}__category-link {
      color: $color-white;
    }
    #{$comp}__category-svg {
      path {
        fill: $color-white;
      }
    }

    .nav__link {
      color: $color-white;
    }

    #{$comp}__search-input {
      background: rgba($color-white, 0.18);
      color: $color-white;

      @include placeholder {
        color: $color-white;
      }
    }
    #{$comp}__search-icon {
      circle {
        stroke: $color-white;
      }
      path {
        stroke: $color-white;
      }
    }

    #{$comp}__lang-text {
      color: $color-white;
    }
    #{$comp}__lang-icon {
      path {
        stroke: $color-white;
      }
    }

    #{$comp}__store-num {
      color: $color-white;
    }
    #{$comp}__store-svg {
      path {
        stroke: $color-white;
      }
    }
  }

  &--up {
    @media (min-width: $breakpoint) {
      transform: translateY(-50px);
    }

    #{$comp}__logo {
      @media (min-width: $breakpoint) {
        transform: scale(0.75) translateY(30px);
      }
    }
  }

  &__inner {
    padding: 10px 0;
    @media (min-width: $breakpoint) {
      padding: 20px 0;
    }
  }

  &__header {
    display: none;
    @media (min-width: $breakpoint) {
      display: block;
    }
  }

  &__row {
    display: flex;
    @media (max-width: $breakpoint - 1px) {
      justify-content: space-between;
    }
  }

  &__col {
    flex-shrink: 0;
    align-items: center;
    @media (min-width: $breakpoint) {
      align-items: flex-start;
    }

    &:nth-child(1) {
      display: flex;
      @media (min-width: $breakpoint) {
        display: block;

        width: calc(#{$col-part-d} * 6);
      }
    }
    &:nth-child(2) {
      display: flex;
      @media (min-width: $breakpoint) {
        width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
      }
    }
  }

  &__left {
    display: flex;
    // @media (min-width: ) {
      
    // }
  }
  &__left-col {
    &:nth-child(1) {
      @media (min-width: $breakpoint) {
        margin-right: 82px;
      }
    }
    
  }

  &__logo {
    position: relative;

    display: flex;
    align-items: center;

    max-width: 36px;
    @media (min-width: $breakpoint) {
      max-width: 105px;
    }

    transition: $transition;
  }

  &__img {
    transition: $transition;
    &--white {
      position: absolute;
      left: 0;
      top: 0;
      
      opacity: 0;
    }
  }

  &__dropdown {
    padding-top: 5px;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 100%;

    transition: $transition;
    opacity: 0;
    pointer-events: none;
  }
  &__dropdown-container {
    padding: 10px 20px;

    background: $color-white;
    border-radius: 14px;
    border: 1px solid $color-blue;
  }
  &__dropdown-item {

    &:not(:first-child) {
      margin-top: 10px;
    }
  }
  &__dropdown-link {
    @include fsl(16px);
    transition: $transition;
  }

  &__phone {
    @media (max-width: $breakpoint - 1px) {
      margin-left: 15px;
    }

    display: flex;
    align-items: center;
  }
  &__phone-link {
    font-weight: 500;
    transition: $transition;

    @media (max-width: $breakpoint - 1px) {
      @include fsl(12px);
    }

    &:hover {
      color: $color-blue;
    }
  }
  &__phone-icon {
    $size: 22px;

    margin-left: 5px;
    position: relative;

    width: $size;
    height: $size;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: $color-light-gray;
    cursor: pointer;
    transition: $transition;

    &:hover {
      background: $color-blue;

      #{$comp}__dropdown {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
  &__phone-svg {
    display: flex;
    align-items: center;

    path {
      transition: $transition;
    }
  }

  &__category {
    @media (min-width: $breakpoint) {
      margin-top: 22px;

      display: flex;
    }
  }
  &__category-item {
    position: relative;

    &:not(:first-child) {
      @media (min-width: $breakpoint - 1px) {
        margin-left: 51px;
      }
    }
  }
  &__category-icon {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
  }
  &__category-svg {
    path {
      transition: $transition;
    }
  }
  &__category-link {
    font-weight: 500;
    transition: $transition;

    &:hover {
      color: $color-blue;
    }
  }

  &__right {
    display: flex;
    justify-content: space-between;
    @media (min-width: $breakpoint) {
      width: 100%;
    }
  }
  &__right-col {
    @media (min-width: $breakpoint) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &:nth-child(1) {
      flex-shrink: 0;
      @media (min-width: $breakpoint) {
        width: calc(#{$col-part-d} * 5 - #{$col-gap-d});
      }
      @media (min-width: $breakpoint-xl) {
        width: calc(#{$col-part-d} * 4 - #{$col-gap-d});
      }
    }
  }

  &__search {
    margin-top: 20px;
  }
  &__search-item {
    position: relative;
  }
  &__search-input {
    padding: 13px 20px;

    width: 100%;

    border-radius: 14px;
    border: none;
    background: rgba($color-black, 0.05);
    transition: $transition;

    @include placeholder {
      @include f-main;
      color: $color-black;
      @include fsl(14px, 130%);
      transition: $transition;
    }
  }
  &__search-button {
    @media (min-width: $breakpoint) {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }
  &__search-icon {
    @media (max-width: $breakpoint - 1px) {
      flex-shrink: 0;

      width: 23px;
      height: 24px;
    }
    circle {
      transition: $transition;
    }

    path {
      transition: $transition;
    }
  }

  &__lang {
    display: flex;
    justify-content: flex-end;

    cursor: pointer;
  }
  &__lang-container {
    position: relative;

    &:hover {
      #{$comp}__dropdown {
        opacity: 1;
        pointer-events: all;
      }
      #{$comp}__lang-text {
        color: $color-blue;
      }
      #{$comp}__lang-icon {
        transform: rotate(180deg);
      }
      #{$comp}__lang-svg {
        path {
          stroke: $color-blue;
        }
      }
    }
  }
  &__lang-row {
    display: flex;
    align-items: center;
  }
  &__lang-text {
    margin-right: 5px;
    font-weight: 500;
    @include fsl(14px);
    transition: $transition
  }
  &__lang-icon {
    display: flex;
    align-items: center;
    transition: $transition;
  }
  &__lang-svg {
    path {
      transition: $transition
    }
  }

  &__store {
    @media (max-width: $breakpoint - 1px) {
      position: relative;
      margin-left: calc(27px / 2);
    }

    display: flex;
    align-items: center;
  }
  &__store-count {
    $size-d: 34px;
    $size-m: 27px;

    @media (max-width: $breakpoint) {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    display: flex;
    align-items: center;
    justify-content: center;

    width: $size-m;
    height: $size-m;
    @media (min-width: $breakpoint) {
      width: $size-d;
      height: $size-d;
    }

    background: $color-brown;
    border-radius: 50%;
  }
  &__store-num {
    font-weight: 500;
    color: $color-white;
    transition: $transition;
    @include fsl(12px);
    @media (min-width: $breakpoint) {
      @include fsl(14px);
      color: $color-black;
    }
  }
  &__store-icon {
    @media (min-width: $breakpoint) {
      margin-left: 5px;
    }
  }
  &__store-svg {
    path {
      transition: $transition;
    }
  }

  &__mobile {
    @media (min-width: $breakpoint) {
      display: none;
    }
  }
  &__menu {
    $size: 30px;

    width: $size;
    height: $size;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid $color-light-gray;
    border-radius: 8px;
    cursor: pointer;
  }

  &__burger {
    position: relative;

    width: 14px;
    height: 10px;

    border-top: 1.5px solid $color-black;
    border-bottom: 1.5px solid $color-black;
  }

  &__item {

    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}