.hero {
  $comp: &;

  position: relative;
  z-index: 0;

  height: calc(100vh - 100px);

  &__frame {
    height: 100%;

    border-radius: 0 0 20px 20px;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left bottom;
  }

  &__content {
    position: absolute;
    top: 80px;
    left: 20px;
    @media (min-width: $breakpoint) {
      top: 163px;
      left: 60px;
    }
    @media (min-width: $breakpoint-xl) {
      top: 178px;
      left: 60px;
    }
  }

  &__title {
    display: block;

    white-space: nowrap;
    color: $color-white;
    @include f-2;
    @include fsl(24px);
    @media (min-width: $breakpoint-m) {
      @include fsl(35px);
    }
    @media (min-width: $breakpoint) {
      @include fsl(60px);
    }

    &:first-child {
      padding-left: 68px;
      @media (min-width: $breakpoint) {
        padding-left: 187px;
      }
    }
  }

  &__label {
    position: absolute;
    bottom: -5px;
    right: -79px;
    @media (min-width: $breakpoint-m) {
      bottom: 0;
      right: -119px;
    }
    @media (min-width: $breakpoint) {
      right: -72px;
    }

    white-space: nowrap;
    @include f-3;
    @include fsl(30px);
    @media (min-width: $breakpoint-m) {
      @include fsl(40px);
    }
    @media (min-width: $breakpoint) {
      @include fsl(60px);
    }
  }

  &__tabs {
    position: absolute;
    bottom: 0;
    right: 10px;
    @media (min-width: $breakpoint-m) {
      right: 20px;
    }
    @media (min-width: $breakpoint) {
      right: 60px;
    }

    display: flex;
  }

  &__item {
    &:not(:first-child) {
      margin-left: 10px;
      @media (min-width: $breakpoint) {
        margin-left: 40px;
      }
    }
  }

  &__tab {
    width: 173px;
    @media (min-width: $breakpoint-m) {
      width: 235px;
    }
    @media (min-width: $breakpoint) {
      width: 360px;
    }
    @media (min-width: $breakpoint-xl) {
      width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
    }

    background: linear-gradient(231.17deg, #86E1FF 0%, #42D0FF 100%);
    border-radius: 20px 20px 0 0;
    transition: $transition;
    cursor: pointer;

    &:hover {
      // background: linear-gradient(221.46deg, #F2D5B9 0%, #E8BE94 100%);
    }
  }

  &__container {
    padding: 20px 20px 37px;
    @media (min-width: $breakpoint-m) {
      padding: 20px 20px 60px;
    }
    @media (min-width: $breakpoint) {
      padding: 30px 30px 70px;
    }
    @media (min-width: $breakpoint-xl) {
      padding: 30px 30px 90px;
    }
  }

  &__top {
    margin-bottom: 40px;
    @media (min-width: $breakpoint) {
      margin-bottom: 70px;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__tab-title {
    max-width: 108px;
    @media (min-width: $breakpoint) {
      max-width: none;
    }

    color: $color-white;
    @include fsl(20px, 90%);
    @media (min-width: $breakpoint) {
      @include fsl(40px);
    }
  }

  &__button {
    $size: 67px;

    width: $size;
    height: $size;

    flex-shrink: 0;
    display: none;
    @media (min-width: $breakpoint) {
      display: flex;
    }
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1px solid $color-white;
    transition: $transition;
  }

  &__arrow {
    transform: rotate(-90deg);

    path {
      stroke: $color-white;
      transition: $transition;
    }
  }

  &__icon {
    height: 55px;
    @media (min-width: $breakpoint) {
      height: 79px;
    }

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__cruise {
    height: 55px;
    @media (min-width: $breakpoint) {
      height: auto;
    }
  }

  &__walk {
    height: 60px;
    @media (min-width: $breakpoint) {
      height: auto;
    }
  }
}