.landmarks-page {

  &__row {
    display: grid;
    row-gap: 40px;
    @media (min-width: $breakpoint-m) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
    }
    @media (min-width: $breakpoint) {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 40px;
      row-gap: 60px;
    }
  }
}