.main-page {

  &__top {
    margin-bottom: 20px;
    @media (min-width: $breakpoint) {
      margin-bottom: 60px;
    }
    @media (min-width: $breakpoint-l) {
      margin-bottom: 80px;
    }
  }
  &__top-row {
    display: flex;
    align-items: center;
  }
  &__top-col {
    flex-shrink: 0;
    &:nth-child(1) {
      display: none;
      @media (min-width: $breakpoint) {
        display: block;
        width: calc(#{$col-part-d} * 3);
      }
    }
    &:nth-child(3) {
      margin-left: auto;
    }
  }

  &__title {
    font-weight: 500;
    @include fsl(26px);
    @media (min-width: $breakpoint-t) {
      @include fsl(48px);
    }
    @media (min-width: $breakpoint-l) {
      @include fsl(60px);
    }
  }

  &__reviews {
    display: grid;
    grid-template-columns: repeat(3, 266px);
    column-gap: 20px;
    @media (min-width: $breakpoint) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 40px;
    }

    @media (max-width: $breakpoint - 1px) {
      padding: 0 20px;
      margin-left: -20px;

      width: calc(100% + 40px);
      overflow-x: scroll;
      @include scrollbar-hidden;
    }
  }
  
  &__media {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 150px;
    row-gap: 20px;
    column-gap: 20px;
    @media (min-width: $breakpoint-m) {
      grid-template-columns: repeat(4, 1fr);
      row-gap: 0;
    }
    @media (min-width: $breakpoint) {
      column-gap: 40px;
      grid-template-rows: 227px;
    }
    @media (min-width: $breakpoint-xl) {
      grid-template-rows: 290px;
    }
  }

  &__about {
    position: relative;
    z-index: 0;

    border-radius: 20px;
    overflow: hidden;
  }
  &__about-layout {
    z-index: -1;
    @include cover;

    background-image: url('assets/images/main-about.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__about-container {
    padding: 40px 20px 183px;
    @media (min-width: $breakpoint-m) {
      padding: 40px 0 130px 20px;
    }
    @media (min-width: $breakpoint) {
      padding: 80px 0 150px 93px;
    }
    @media (min-width: $breakpoint-xl) {
      padding: 80px 0 237px 93px;
    }
  }
  &__about-top {
    position: relative;

    text-align: center;
  }
  &__about-title {
    @include f-2;
    @include fsl(40px, 160%); // 160% - safari issue
    @media (min-width: $breakpoint) {
      @include fsl(110px);
    }
    @media (min-width: $breakpoint-xl) {
      @include fsl(150px);
    }
  }
  &__about-label {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 40%);
    @media (min-width: $breakpoint-m) {
      transform: translate(-50%, 20%);
    }

    white-space: nowrap;
    @include f-3;
    color: $color-white;
    @include fsl(30px);
    @media (min-width: $breakpoint) {
      @include fsl(60px);
    }
    @media (min-width: $breakpoint-xl) {
      @include fsl(80px);
    }
  }
  &__about-content {
    margin-top: 50px;
    @media (min-width: $breakpoint) {
      margin-top: 32px;
    }
    @media (min-width: $breakpoint-xl) {
      margin-top: 47px;
    }

    @media (min-width: $breakpoint-m) {
      width: 521px;
    }
    @media (min-width: $breakpoint) {
      width: 635px;
    }
  }
  &__about-text {
    text-indent: 60px;
    @include fsl(16px, 160%);
    @media (min-width: $breakpoint) {
      @include fsl(22px);
    }
  }
  &__about-button {
    margin-top: 20px;
    @media (min-width: $breakpoint) {
      margin-top: 40px;
    }

    display: flex;
  }

  &__features {
    background-color: $color-light-blue;
    border-radius: 20px;
  }
  &__features-container {
    padding: 20px;
    @media (min-width: $breakpoint-m) {
      padding: 40px 20px 20px;
    }
    @media (min-width: $breakpoint) {
      padding: 100px 40px 120px 60px;
    }
    @media (min-width: $breakpoint-xl) {
      padding: 100px 60px 120px calc(#{$col-width-d});
    }
  }
  &__features-row {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    @media (min-width: $breakpoint-m) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 40px;
      grid-template-areas: 
        "A B"
        "C D"
        "E F"
        "G G"
        ;
    }
    @media (min-width: $breakpoint) {
      row-gap: 60px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: 
        "A B C D"
        "E F G G"
        ;
    }
  }
  &__features-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    @media (min-width: $breakpoint) {
      height: 100px;
      justify-content: flex-start;
    }
  }
  &__features-text {
    margin-top: 10px;
    @media (min-width: $breakpoint) {
      margin-top: 35px;

      max-width: 250px;
    }
    text-align: center;
    @include fsl(16px);
    @media (min-width: $breakpoint) {
      @include fsl(22px);
      text-align: left;
    }

  }

  &__properties {
    
    @media (min-width: $breakpoint-m) {
      grid-area: G;
    }
    align-self: center;

    border-radius: 20px;
    border: 1px solid $color-white;
  }
  &__properties-container {
    padding: 22px 60px;
    @media (min-width: $breakpoint-m) {
      padding: 40px 78px 40px 91px;
    }
    @media (min-width: $breakpoint) {
      padding: 24px 20px;
    }
    @media (min-width: $breakpoint-xl) {
      padding: 24px 52px;
    }
  }
  &__properties-row {
    display: flex;
    @media (max-width: $breakpoint-m - 1px) {
      flex-direction: column;
      justify-content: center;
    }
  }
  &__properties-col {

    &:nth-child(1) {
      flex-shrink: 0;
    }
    
    &:not(:first-child) {
      margin-top: 30px;
      @media (min-width: $breakpoint-m) {
        margin-top: 0;
        margin-left: 20px;
      }
      @media (min-width: $breakpoint) {
        margin-left: 30px;
      }
      @media (min-width: $breakpoint-xl) {
        margin-left: 50px;
      }
    }
  }
  &__properties-img {
    height: 53px;
    display: flex;
    align-items: flex-end;
    @media (max-width: $breakpoint - 1px) {
      justify-content: center;
    }
  }
  &__properties-image {
    mix-blend-mode: multiply;
    @media (min-width: $breakpoint) {
      width: 48px;
    }
  }
  &__properties-text {
    margin-top: 20px;

    @include fsl(16px);
    text-align: center;
    @media (min-width: $breakpoint) {
      text-align: left;
    }
  }

  &__standarts {}
  &__standarts-inner {
    padding: 20px 0;
    @media (min-width: $breakpoint-m) {
      padding: 20px 0 40px;
    }
    @media (min-width: $breakpoint) {
      padding: 60px 0;
    }
  }
  &__standarts-wrapper {
    margin-bottom: 40px;
    @media (min-width: $breakpoint) {
      margin-bottom: 80px;
      margin-left: calc(#{$col-part-d} * 3);

      max-width: 669px;
    }
    max-width: 335px;
  }
  &__standarts-row {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    @media (min-width: $breakpoint-m) {
      column-gap: 40px;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $breakpoint) {
      row-gap: 0;
      grid-template-columns: repeat(4, 1fr);
      
    }
  }
  &__standarts-col {
    @media (max-width: $breakpoint - 1px) {
      // justify-self: center;
    }
  }  
  &__standarts-img {
    display: flex;
    align-items: center;

    @media (min-width: $breakpoint) {
      height: 100px;
    }

    @media (max-width: $breakpoint - 1px) {
      justify-content: center;
    }
  }
  &__standarts-text {
    margin-top: 30px;

    @include fsl(16px);
    @media (min-width: $breakpoint) {
      max-width: 300px;
      @include fsl(22px);
    }
    @media (max-width: $breakpoint - 1px) {
      text-align: center;
    }
  }

  &__mobile {
    display: none;
    @media (min-width: $breakpoint-m) {
      display: block;
    }
  }
}