.main-page {

  &__top {
    margin-bottom: 20px;
    @media (min-width: $breakpoint) {
      margin-bottom: 80px;
    }
  }
  &__top-row {
    display: flex;
    align-items: center;
  }
  &__top-col {
    flex-shrink: 0;
    &:nth-child(1) {
      display: none;
      @media (min-width: $breakpoint) {
        display: block;
        width: calc(#{$col-part-d} * 3);
      }
    }
    &:nth-child(3) {
      margin-left: auto;
    }
  }

  &__title {
    font-weight: 500;
    @include fsl(26px);
    @media (min-width: $breakpoint) {
      @include fsl(60px);
    }
  }

  &__reviews {
    display: grid;
    grid-template-columns: repeat(3, 266px);
    column-gap: 20px;
    @media (min-width: $breakpoint) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 40px;
    }

    @media (max-width: $breakpoint - 1px) {
      padding: 0 20px;
      margin-left: -20px;

      width: calc(100% + 40px);
      overflow-x: scroll;
      @include scrollbar-hidden;
    }
  }
  
  &__media {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 150px;
    row-gap: 20px;
    column-gap: 20px;
    @media (min-width: $breakpoint-m) {
      grid-template-columns: repeat(4, 1fr);
      row-gap: 0;
    }
    @media (min-width: $breakpoint) {
      column-gap: 40px;
      grid-template-rows: 227px;
    }
    @media (min-width: $breakpoint-xl) {
      grid-template-rows: 290px;
    }
  }

  &__about {
    position: relative;
    z-index: 0;

    border-radius: 20px;
    overflow: hidden;
  }
  &__about-layout {
    z-index: -1;
    @include cover;

    background-image: url('assets/images/main-about.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__about-container {
    padding: 40px 20px 183px;
    @media (min-width: $breakpoint-m) {
      padding: 40px 0 130px 20px;
    }
    @media (min-width: $breakpoint) {
      padding: 80px 0 150px 93px;
    }
    @media (min-width: $breakpoint-xl) {
      padding: 80px 0 237px 93px;
    }
  }
  &__about-top {
    position: relative;

    text-align: center;
  }
  &__about-title {
    @include f-2;
    @include fsl(40px);
    @media (min-width: $breakpoint) {
      @include fsl(110px);
    }
    @media (min-width: $breakpoint-xl) {
      @include fsl(150px);
    }
  }
  &__about-label {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 20%);

    @include f-3;
    color: $color-white;
    @include fsl(30px);
    @media (min-width: $breakpoint) {
      @include fsl(60px);
    }
    @media (min-width: $breakpoint-xl) {
      @include fsl(80px);
    }
  }
  &__about-content {
    margin-top: 50px;
    @media (min-width: $breakpoint) {
      margin-top: 32px;
    }
    @media (min-width: $breakpoint-xl) {
      margin-top: 47px;
    }

    @media (min-width: $breakpoint-m) {
      width: 521px;
    }
    @media (min-width: $breakpoint) {
      width: 635px;
    }
  }
  &__about-text {
    text-indent: 60px;
    @include fsl(16px, 160%);
    @media (min-width: $breakpoint) {
      @include fsl(22px);
    }
  }
  &__about-button {
    margin-top: 20px;
    @media (min-width: $breakpoint) {
      margin-top: 40px;
    }

    display: flex;
  }

  &__standarts {}
  &__standarts-inner {
    padding: 20px 0;
    @media (min-width: $breakpoint-m) {
      padding: 20px 0 40px;
    }
    @media (min-width: $breakpoint) {
      padding: 60px 0;
    }
  }
  &__standarts-wrapper {
    margin-bottom: 40px;
    @media (min-width: $breakpoint) {
      margin-bottom: 80px;
      margin-left: calc(#{$col-part-d} * 3);

      max-width: 669px;
    }
    max-width: 335px;
  }
  &__standarts-row {
    display: flex;
  }
  &__standarts-col {
    flex-shrink: 0;
    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
    }

    &:not(:last-child) {
      @media (min-width: $breakpoint) {
        padding-right: calc(#{$col-gap-d});
        width: calc(#{$col-part-d} * 3);
      }
    }
  }  
  &__standarts-img {
    display: flex;
    align-items: center;

    @media (min-width: $breakpoint) {
      height: 100px;
    }
  }
  &__standarts-text {
    margin-top: 30px;

    @include fsl(16px);
    @media (min-width: $breakpoint) {
      @include fsl(22px);
    }
  }
}