.media {
  $comp: &;

  grid-area: C;
  @media (min-width: $breakpoint) {
    margin-top: 20px;
  }

  &--contacts {
    #{$comp}__icon {
      width: auto;
      margin-right: 20px;
      @media (min-width: $breakpoint) {
        margin-right: 40px;
      }
    }

    #{$comp}__svg {
      path {
        stroke: $color-blue;
      }
      circle {
        stroke: $color-blue;
      }
    }

    #{$comp}__phone {
      &:hover {
        color: $color-blue;
      }
    }
    #{$comp}__mail {
      &:hover {
        color: $color-blue;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-top: 10px;
      @media (min-width: $breakpoint) {
        margin-top: 0;
      }
    }
    &:last-child {
      @media (min-width: $breakpoint) {
        margin-top: 40px;
      }

      align-items: flex-start;
    }
  }
  &__icon {
    margin-right: 20px;
    @media (min-width: $breakpoint) {
      margin-right: 0;
      width: calc(#{$col-width-d});
    }

    display: flex;
    align-items: center;
  }
  &__phone {
    @include fsl(30px);
    @media (min-width: $breakpoint) {
      @include fsl(60px);
    }
    transition: $transition;

    &:hover {
      color: $color-white;
    }
  }
  &__mail {
    @include fsl(16px, 160%);
    @media (min-width: $breakpoint) {
      @include fsl(25px, 130%);
    }
    transition: $transition;

    &:hover {
      color: $color-white;
    }
  }
  &__text {
    @include fsl(14px);
    @media (min-width: $breakpoint) {
      @include fsl(16px);
    }
  }
  &__link {
    margin-top: 10px;

    display: block;

    font-weight: 500;
    @include fsl(14px);
    text-decoration: underline;
    transition: $transition;

    &:hover {
      color: $color-blue;
    }
  }
}