.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  
  @media (min-width: $breakpoint) {
    display: none;
  }

  background: $color-white;
  transition: $transition;

  .header__lang-container:hover {

    .header__lang-text {
      color: $color-blue;
    }
    .header__lang-icon {
      transform: rotate(180deg);
    }
    .header__lang-svg {
      path {
        stroke: $color-blue;
      }
    }
  }

  &__container {
    padding: 20px 20px 40px;
  }

  &__top {
    margin-bottom: 34px;

    display: flex;
    justify-content: flex-end;
  }
}