.modal {
  display: none;

  @media (max-width: ($breakpoint - 1px)) {
    width: 100%;
  }

  margin: 38px 0 0;
  @media (min-width: $breakpoint-m) {
    margin: 0 54px;
  }
  @media (min-width: $breakpoint) {
    margin: 0;
    width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
  }

  background: $color-white;
  @media (min-width: $breakpoint-m) {
    border-radius: 14px;
  }

  &__container {
    padding: 65px 20px;
    @media (min-width: $breakpoint-m) {
      padding: 60px;
    }
    @media (min-width: $breakpoint) {
      padding: 60px calc(#{$col-width-d});
    }
  }

  &__title {
    margin-bottom: 20px;
    @media (min-width: $breakpoint) {
      margin-bottom: 40px;
    }

    @media (min-width: $breakpoint-m) {
      text-align: center;
    }
  }

  &__btns {
    @media (min-width: $breakpoint) {
      padding: 0 42px;
    }
    
    display: flex;
  }

  &__item {
    width: calc(50% - 5px);
    &:not(:first-child) {
      margin-left: 10px;
    }

    &--active {
      .button {
        background: $color-blue;
        border-color: $color-blue;
      }

      &:hover {
        .button {
          border-color: $color-brown;
        }
      }
    }
  }
}

.form-modal {

}

.search-modal {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);

  background: $color-white;
  transition: $transition;
  border-bottom: 1px solid $color-light-gray;

  &__container {
    padding: 20px;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__col {

    &:nth-child(1) {
      flex-grow: 1;
    }

    &:nth-child(2) {
      margin-left: 20px;
    }
  }

  &__icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }

  &__button {
    $size: 45px;

    position: relative;

    width: $size;
    height: $size;

    border-radius: 50%;
    background: $color-light-gray;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 18px;
      height: 1px;

      background: $color-black;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.menu {
  $size: 50px;
  
  width: $size;
  height: $size;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  background: black;
  border-radius: 14px;
  cursor: pointer;
  
  &:hover {
    .burger {
      
      &::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
      }
      
      &::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
      }
    }
    .burger__span {
      &::before {
        opacity: 0;
      }
    }
  }
}
