.nav {
  $comp: &;

  &--big {

    #{$comp}__item {
      &:not(:first-child) {
        margin-top: 20px;
        @media (min-width: $breakpoint) {
          margin-top: 0;
          margin-left: 20px;
        }
        @media (min-width: $breakpoint-l) {
          margin-left: 30px;
        }
      }
    }

    #{$comp}__link {
      @include fsl(20px);

      &:hover {
        color: $color-white;
      }
    }
  } 

  &__list {
    @media (min-width: $breakpoint) {
      display: flex;
    }
  }

  &__item {
    &:not(:first-child) {
      margin-top: 20px;
      @media (min-width: $breakpoint) {
        margin-top: 0;
        margin-left: 28px;
      }
      @media (min-width: $breakpoint-l) {
        margin-left: 36px;
      }
    }
  }

  &__link {
    @media (min-width: $breakpoint) {
      @include fsl(14px);
    }
    transition: $transition;

    &:hover {
      color: $color-blue;
    }
  }
}