.nav {
  &__list {
    @media (min-width: $breakpoint) {
      display: flex;
    }
  }

  &__item {
    &:not(:first-child) {
      @media (min-width: $breakpoint - 1px) {
        margin-left: 36px;
      }
    }
  }

  &__link {
    @media (min-width: $breakpoint) {
      @include fsl(14px);
    }
    transition: $transition;

    &:hover {
      color: $color-blue;
    }
  }
}