.price {
  $comp: &;

  width: 100%;
  @media (min-width: $breakpoint-m) {
    display: flex;
  }

  &--modal {
    #{$comp}__item {
      background: none;
    }

    #{$comp}__container {
      padding: 0;
    }

    #{$comp}__title {
      margin-bottom: 10px;

      @include fsl(16px);
      @media (min-width: $breakpoint) {
        @include fsl(20px);
      }
    }
  }

  &__item {

    width: 100%;
    @media (min-width: $breakpoint-m) {
      width: calc(100% / 2);
    }

    background: rgba($color-black, .05);
    border-radius: 14px;

    &:not(:first-child) {
      margin-top: 10px;
      @media (min-width: $breakpoint-m) {
        margin-top: 0;
        margin-left: 20px;
      }
    }

    &--blue {
      background: $color-aqua;
    }
  } 

  &__container {
    padding: 20px;
    @media (min-width: $breakpoint) {
      padding: 30px;
    }
  }

  &__title {
    margin-bottom: 20px;

    // font-weight: 500;
    // @include fsl(20px);
    // @media (min-width: $breakpoint) {
    //   @include fsl(26px);
    // }
  }

  &__point {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__icon {
    margin-right: 10px ;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    @include fsl(16px);
  }
}