.product-tabs {
  $comp: &;

  display: flex;

  &--admin {
    #{$comp}__item {
      display: flex;
      align-items: center;
    }
  }

  &--end {
    align-items: flex-end;
  }

  &__item {

    &:not(:first-child) {
      margin-left: 20px;
      @media (min-width: $breakpoint) {
        margin-left: 30px;
      }
    }
  }

  &__tab {
    padding-bottom: 6px;

    @include fsl(16px, 160%);
    @media (min-width: $breakpoint) {
      @include fsl(20px, 130%);
      font-weight: 500;
    }
    border-bottom: 2px solid $color-aqua;
    transition: $transition;
    cursor: pointer;

    &:hover {
      border-color: $color-azure;
    }

    &.active {
      color: $color-azure;
      border-color: $color-azure;
    }
  }

  &__icon {
    margin-left: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
  }
}