.row {
  @media (min-width: $breakpoint) {
    display: flex;
  }

  &__col {
    flex-shrink: 0;
    &:nth-child(1) {
      @media (min-width: $breakpoint) {
        padding-right: calc(#{$col-width-d});
        width: calc(#{$col-part-d} * 3);
      }
    }
    &:nth-child(2) {
      @media (min-width: $breakpoint) {
        width: calc(#{$col-part-d} * 9 - #{$col-gap-d});
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    @media (min-width: $breakpoint-m) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
    }
    @media (min-width: $breakpoint) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 40px;
      row-gap: 60px;
    }
  }
}