.section {
  padding: 1px 0;
  margin-top: 60px;

  @media (min-width: $breakpoint) {
    margin-top: 80px;
  }

  @media (min-width: $breakpoint-l) {
    margin-top: 100px;
  }

  overflow: hidden;

  &--first {
    padding-top: 80px;

    @media (min-width: $breakpoint) {
      padding-top: 173px;
    }

    margin: 0;
  }

  &--md {
    margin-top: 20px;

    @media (min-width: $breakpoint) {
      margin-top: 50px;
    }
  }

  &--l {
    margin-top: 40px;

    @media (min-width: $breakpoint) {
      margin-top: 80px;
    }
  }

  &--xl {
    margin-top: 87px;

    @media (min-width: $breakpoint-m) {
      margin-top: 121px;
    }

    @media (min-width: $breakpoint) {
      margin-top: 186px;
    }
  }

  &--xxl {
    margin-top: 110px;

    @media (min-width: $breakpoint) {
      margin-top: 100px;
    }
  }

  &--visible {
    overflow: visible;
  }

  &--desktop-visible {
    @media (min-width: $breakpoint) {
      overflow: visible;
    }
  }

  &--panel {
    margin-top: 64px;

    @media (min-width: $breakpoint) {
      margin-top: 127px;
    }
  }

  &__inner {
    margin-top: 20px;

    @media (min-width: $breakpoint) {
      margin-top: 50px;
    }
  }

  &__row {
    @media (min-width: $breakpoint) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__col {
    flex-shrink: 0;

    &:nth-child(1) {
      @media (min-width: $breakpoint) {
        width: calc(#{$col-part-d} * 7 - #{$col-gap-d});
      }
    }

    &:nth-child(2) {
      display: none;

      @media (min-width: $breakpoint) {
        display: block;
        width: calc(#{$col-part-d} * 4);
      }
    }
  }

  &__nav {
    @media (min-width: $breakpoint) {
      display: flex;
      align-items: center;
    }
  }

  &__nav-item {

    &:not(:first-child) {
      @media (min-width: $breakpoint) {
        margin-left: 40px;
      }
    }
  }

  &__nav-label {
    text-transform: uppercase;
    color: $color-gray;
    font-weight: 500;
    @include fsl(16px);

    @media (min-width: $breakpoint) {
      @include fsl(20px);
    }
  }
}
