.slider-buttons {
  $comp: &;

  display: flex;

  &--wide {
    justify-content: space-between;

    #{$comp}__button {
      border: none;
      background: $color-white;
    }
  }

  &__item {
    pointer-events: all;
    &:not(:first-child) {
      margin-left: 8px;
    }
  }

  &__button {
    $size: 69px;
    $size-m: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: $size-m;
    height: $size-m;
    @media (min-width: $breakpoint) {
      width: $size;
      height: $size;
    }

    border: 1px solid $color-black;
    border-radius: 50%;
    cursor: pointer;
    transition: $transition;

    &:hover {
      border-color: $color-brown;
      // background: $color-brown;
    }

    &--right {
      #{$comp}__icon {
        transform: rotate(-90deg);
      }
    }
  }

  &__icon {
    transform: rotate(90deg);
  }
}