.social {
  $comp: &;

  display: flex;

  &--contacts {

    #{$comp}__link {
      border-color: $color-blue;

      &:hover {
        background: $color-blue;
      }
    }
  }

  &__item {
    &:not(:first-child) {
      margin-left: 10px;
    }
  }

  &__link {
    $size: 50px;

    width: $size;
    height: $size;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 18px;
    // background: $color-white;
    transition: $transition;
    border: 1px solid $color-white;

    &:hover {
      background: $color-white;
    }
  }
}