.social {
  $comp: &;

  display: flex;

  &--contacts {

    #{$comp}__link {
      border-color: $color-blue;

      &::before {
        background: $color-blue;
      }
    }
  }

  &__item {
    &:not(:first-child) {
      margin-left: 10px;
    }
  }

  &__link {
    $size: 50px;

    position: relative;
    z-index: 0;

    width: $size;
    height: $size;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 18px;
    overflow: hidden;
    transition: $transition;
    border: 1px solid $color-white;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-white;
      transition: $transition;
      transform: translateY(100%);
    }

    &:hover::before {
      transform: translateY(0);
    }
  }
}