.successful-page {

  &__row {
    @media (min-width: $breakpoint-m) {
      display: flex;
    }
  }

  &__col {

    &:nth-child(1) {
      @media (min-width: $breakpoint-m) {
        padding-right: 72px;
        flex-shrink: 0;
        width: calc(#{$col-part-m} * 2);
      }
      @media (min-width: $breakpoint) {
        padding-right: 0;
        width: calc(#{$col-part-d} * 6);
      }
    }
    &:nth-child(2) {
      margin-top: 40px;
      @media (min-width: $breakpoint-m) {
        margin-top: 0;
      }
    }
  }

  &__text {
    margin-top: 20px;

    @include fsl(16px, 160%);
  }

  &__link {
    color: $color-blue;
    transition: $transition;
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: $breakpoint-m) {
      justify-content: flex-start;
    }
  }

  &__svg {
    @media (max-width: $breakpoint - 1px) {
      width: 218px;
      height: 249px;
    }
  }

  &__icon {
    @media (max-width: $breakpoint - 1px) {
      width: 326px;
      height: 191px;
    }
  }

  &__inner {
    @media (min-width: $breakpoint) {
      padding-bottom: 120px;
    }
  }

  &__caption {
    margin-top: 20px;
    
    @include fsl(16px, 160%);
    @media (min-width: $breakpoint) {
      @include fsl(18px);
    }
  }
}