.test {
  margin-top: 30px;
  margin-left: 30px;

  height: 300vh;
  font-size: 30px;

  &__font2 {
    margin-top: 20px;

    @include f-2;
  }

  &__font3 {
    margin-top: 20px;

    @include f-3;
  }
}


.test-listing {
  margin-top: 30px;
}

.test-one {
  font-size: 16px;
  width: 100%;
}

.test-two {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
}

.test-three {
  font-size: 25px;
  width: 100%;
}
