.thumb-slider {

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    border-radius: 10px;

    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m} * 4 - #{$col-gap-m});
    }
  }
}