.tooltip {
  $comp: &;

  display: flex;

  &__icon {
    position: absolute;
    bottom: 100%;
    // bottom: calc(20px + 15px);
    left: 100%;
    transform: translateY(50%);
    @media (min-width: $breakpoint) {
      left: calc(100% - 3px);
    }

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &:hover {
      #{$comp}__svg {

        path {
          fill: $color-white;
        }
        circle {
          
          fill: $color-azure;
        }
      }
    }
  }

  &__svg {
    path,
    circle {
      transition: $transition;
    }
  }

  &__container {
    display: none;
  }

  &__span {
    position: relative;
  }
}

.tippy {

  &-box {
    padding: 10px;

    width: 202px;

    border-radius: 14px;
    border: 1px solid $color-light-gray;
    background: $color-white;
  }

  &-content {
    @include fsl(12px, 160%);
  }
}