.tour {
  @media (min-width: $breakpoint) {
    padding-left: calc(#{$col-part-d} * 3);
  }

  &__container {
    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
    }
  }

  &__text {
    margin-top: 10px;
    @media (min-width: $breakpoint) {
      margin-top: 20px;
    }

    @include fsl(14px, 160%);
    @media (min-width: $breakpoint) {
      @include fsl(16px);
    }
  }
}




