extends ../layouts/master.pug

include ../components/form-components
include ../components/calendar

block header 

block content
  .admin 
    .container 
      .admin__top 
        .product-tabs(data-admin-tabs='')
          each item, i in ['Общая информация', 'Состав тура', 'Календарь', 'Цены'] 
            .product-tabs__item
              .product-tabs__tab(data-admin-item='' class=(i === 0) ? 'active' : '')
                h2 
                  |#{item}
      form.form(action="/") 
        .admin__tab.active
          .admin__section
            .admin__block 
              .admin__text.admin__right 
                |Название тура
              .admin__big
                +input(type = 'text' name = 'name')
            .admin__block 
              .admin__text.admin__right 
                |Активность
              .checkbox
                label.checkbox__label
                  input.checkbox__input(type="checkbox" name='checkbox-1' required)
                  .checkbox__box 
                    +check-svg.checkbox__svg
            .admin__block 
              .admin__text.admin__right 
                |Сортировка
              .admin__md
                +input(type = 'text' name = 'name')
          .admin__section 
            .admin__block
              .admin__col  
                .admin__row 
                  .admin__horiz
                    .admin__text
                      |Укажите тип
                  .admin__horiz
                    .admin__item 
                      +checkbox(text='Индивидуальные')
                    .admin__item 
                      +checkbox(text='Групповые')
                .admin__row 
                  .admin__horiz
                    .admin__text
                      |Укажите особенность
                  .admin__horiz
                    .admin__item 
                      +checkbox(text='Popular')
                    .admin__item 
                      +checkbox(text='Special interest')
                    .admin__item 
                      +checkbox(text='Child friendly')
            .admin__block 
              .admin__large
                .admin__horiz 
                  .admin__text 
                    |Блок с выводом сообщения о инддивидуальном подходе (только для индивидуальных)
                .admin__horiz 
                  textarea.form__textarea(name='message')
          .admin__section
            .admin__col(data-add-parent='')
              .admin__list(data-add-container='')
                .admin__row(data-add-item='')
                  .file(data-file-input='') 
                    .file__container
                      .file__name 
                      .file__button 
                        |Delete
                    label.file__label
                      input.file__input(type="file")
                      .file__text 
                        |Upload image for the gallery
                      .file__icon 
                        +plus-svg.file__svg
                .admin__row
                  .file(data-file-input='') 
                    .file__container
                      .file__name 
                      .file__button 
                        |Delete
                    label.file__label
                      input.file__input(type="file")
                      .file__text 
                        |Upload image for the gallery
                      .file__icon 
                        +plus-svg.file__svg
                .admin__row
                  .file(data-file-input='') 
                    .file__container
                      .file__name 
                      .file__button 
                        |Delete
                    label.file__label
                      input.file__input(type="file")
                      .file__text 
                        |Upload image for the gallery
                      .file__icon 
                        +plus-svg.file__svg
              .admin__row 
                .admin__show(data-add-button='default')
                  |Добавить еще
          .admin__section 
            .admin__col  
              .admin__row 
                .admin__horiz
                  .admin__text
                    |Укажите порт
                .admin__horiz
                  .admin__grid
                    .admin__item 
                      +checkbox(text='Санкт-Петербург')
                    .admin__item 
                      +checkbox(text='Варнемюнде/Росток')
                    .admin__item 
                      +checkbox(text='Стокгольм')
                    .admin__item.admin__first
                      +checkbox(text='Таллин')
                    .admin__item 
                      +checkbox(text='Хельсинки')
                    .admin__item 
                      +checkbox(text='Копенгаген')
          .admin__section 
            .admin__col 
              .admin__row 
                .admin__text 
                  |Укажите продолжительность экскурсии
              .admin__row 
                .admin__block 
                  .admin__block-item 
                    .admin__ll
                      +input(type = 'text' name = 'value' placeholder = 'Значение')
                  .admin__block-item 
                    .admin__ll 
                      .select-wrapper
                        .select
                          select.select__select(name="time" style='width: 100%' data-select-placeholder='Select language') 
                            option(value = 'hour')
                              |Часы
                            option(value = 'days')
                              |Дни
          .admin__section 
            .admin__col 
              .admin__horiz 
                .admin__text 
                  |Укажите доступность для инвалидов
              .admin__horiz
                +checkbox(text = 'Доступно')
          .admin__section 
            .admin__col 
              .admin__horiz 
                .admin__text 
                  |Укажите место сбора
              .admin__horiz
                .admin__ll
                  +input(type = 'text' name = 'place')
          .admin__section 
            .admin__col 
              .admin__horiz 
                .admin__text 
                  |Укажите значение активности от 1 до 5
              .admin__horiz
                .admin__mid
                  .select-wrapper
                    .select
                      select.select__select(name="activity" style='width: 100%' data-select-placeholder='Select language') 
                        option(value = '1')
                          |1
                        option(value = '2')
                          |2
                        option(value = '3')
                          |3
                        option(value = '4')
                          |4
                        option(value = '5')
                          |5
          .admin__section
            .admin__col(data-add-parent='')
              .admin__list(data-add-container='')
                .admin__list-item 
                  .admin__tour
                    .admin__tour-col
                      .admin__caption 
                        |В стоимость тура входит
                      .admin__row
                        .admin__ll 
                          +input(type = 'text' name = 'text')
                    .admin__tour-col 
                      .admin__caption 
                        |В стоимость тура не входит
                      .admin__row
                        .admin__ll   
                          +input(type = 'text' name = 'text')
                .admin__list-item(data-add-item='')
                  .admin__tour
                    .admin__tour-col
                      .admin__ll 
                        +input(type = 'text' name = 'text')
                    .admin__tour-col 
                      .admin__ll   
                        +input(type = 'text' name = 'text')
                - for (i = 0; i < 3; i++)
                  .admin__list-item
                    .admin__tour
                      .admin__tour-col
                        .admin__ll 
                          +input(type = 'text' name = 'text')
                      .admin__tour-col 
                        .admin__ll   
                          +input(type = 'text' name = 'text')
              .admin__row   
                .admin__show(data-add-button='default')
                  |Добавить еще
          .admin__section 
            .admin__col 
              .admin__row 
                .admin__text 
                  |Укажите достопримечательности
              .admin__row(data-add-parent='')
                .admin__list(data-add-container='')
                  .admin__horiz(data-add-item='') 
                    .admin__large 
                      .select-wrapper
                        .select
                          select.select__select(name="time" style='width: 100%' data-select-placeholder='Select language') 
                            option(value = 'hour')
                              |Эрмитаж
                            option(value = 'days')
                              |Эрмитаж1
                  .admin__horiz 
                    .admin__large 
                      .select-wrapper
                        .select
                          select.select__select(name="time" style='width: 100%' data-select-placeholder='Select language') 
                            option(value = 'hour')
                              |Русский музей
                            option(value = 'days')
                              |Русский музей1
                  .admin__horiz 
                    .admin__large 
                      .select-wrapper
                        .select
                          select.select__select(name="time" style='width: 100%' data-select-placeholder='Select language') 
                            option(value = 'hour')
                              |Выбрать достопримечательность
                            option(value = 'days')
                              |Выбрать достопримечательность
                  .admin__horiz 
                    .admin__large 
                      .select-wrapper
                        .select
                          select.select__select(name="time" style='width: 100%' data-select-placeholder='Select language') 
                            option(value = 'hour')
                              |Выбрать достопримечательность
                            option(value = 'days')
                              |Выбрать достопримечательность
                .admin__row 
                  .admin__show(data-add-button='select')
                    |Добавить еще
          .admin__section 
            .admin__col 
              .admin__row 
                .admin__text 
                  |Укажите похожие туры
              .admin__row(data-add-parent='')
                .admin__list(data-add-container='')
                  .admin__horiz(data-add-item='')
                    .admin__large 
                      .select-wrapper
                        .select
                          select.select__select(name="time" style='width: 100%' data-select-placeholder='Select language') 
                            option(value = 'hour')
                              |Intensive tour
                            option(value = 'days')
                              |Intensive tour1
                  .admin__horiz 
                    .admin__large 
                      .select-wrapper
                        .select
                          select.select__select(name="time" style='width: 100%' data-select-placeholder='Select language') 
                            option(value = 'hour')
                              |Relaxed tour 
                            option(value = 'days')
                              |Relaxed tour 1
                  .admin__horiz 
                    .admin__large 
                      .select-wrapper
                        .select
                          select.select__select(name="time" style='width: 100%' data-select-placeholder='Select language') 
                            option(value = 'hour')
                              |Jewish Heritage
                            option(value = 'days')
                              |Jewish Heritage123
                  .admin__horiz 
                    .admin__large 
                      .select-wrapper
                        .select
                          select.select__select(name="time" style='width: 100%' data-select-placeholder='Select language') 
                            option(value = 'hour')
                              |Выбрать выбрать похожий тур
                            option(value = 'days')
                              |Выбрать выбрать похожий тур123
                .admin__row 
                  .admin__show(data-add-button="select") 
                    |Добавить еще
          .admin__section 
            .admin__col
              .admin__row 
                .admin__caption 
                  |Укажите шаблон для сравнения
              .admin__row 
                .admin__large 
                  .select-wrapper
                    .select
                      select.select__select(name="time" style='width: 100%' data-select-placeholder='Select language') 
                        option(value = 'hour')
                          |Выбрать шаблон для сравнения
                        option(value = 'days')
                          |Выбрать шаблон для сравнения123
              .admin__row 
                .admin__large 
                  button.button.button--xxl(type='submit')
                    |Сохранить
        .admin__tab(data-add-parent='')
          .admin__list(data-add-container='')
            .admin__section(data-add-item='')
              .admin__col(data-add-parent='')
                .admin__row
                  .admin__text 
                    |Заполните расписание программы
                .admin__row 
                  .admin__text 
                    |1 день
                .admin__row 
                  template(data-add-template='')
                    .admin__list-item
                      .admin__container
                        .admin__block
                          .admin__mid
                          .admin__ll
                            +input(type = 'text' name = 'text')
                        .admin__block
                          .admin__mid
                          .admin__ll
                            +input(type = 'text' name = 'text')
                  .admin__list(data-add-container='')
                    .admin__list-item
                      .admin__container
                        .admin__block
                          .admin__mid
                            .admin__text
                              |Укажите время
                          .admin__ll
                            +input(type = 'text' name = 'text')
                        .admin__block
                          .admin__mid
                            .admin__text
                              |Укажите событие
                          .admin__ll
                            +input(type = 'text' name = 'text')
                .admin__row 
                  .admin__show(data-add-button='template') 
                    |Добавить еще
            .admin__section
              .admin__col(data-add-parent='')
                .admin__row 
                  .admin__text 
                    |2 день
                .admin__row 
                  template(data-add-template='')
                    .admin__list-item
                      .admin__container
                        .admin__block
                          .admin__mid
                          .admin__ll
                            +input(type = 'text' name = 'text')
                        .admin__block
                          .admin__mid
                          .admin__ll
                            +input(type = 'text' name = 'text')
                  .admin__list(data-add-container='')
                    .admin__list-item
                      .admin__container
                        .admin__block
                          .admin__mid
                            .admin__text
                              |Укажите время
                          .admin__ll
                            +input(type = 'text' name = 'text')
                        .admin__block
                          .admin__mid
                            .admin__text
                              |Укажите событие
                          .admin__ll
                            +input(type = 'text' name = 'text')
                .admin__row 
                  .admin__show(data-add-button='template') 
                    |Добавить еще
          .admin__section 
            .admin__show.admin__show--start(data-add-button='default')
              |Добавить еще день
          .admin__section 
            .admin__large 
              button.button.button--xxl(type='submit')
                |Сохранить
        .admin__tab
          .admin__section
            .admin__col 
              .admin__container
                .admin__block 
                  .admin__text.admin__right 
                    |От
                  .admin__ll
                    input.form__input(type="text" name='start' data-change-start='' data-date-input='' placeholder='dd.mm.yyyy')
                .admin__block 
                  .admin__text.admin__right 
                    |До
                  .admin__ll
                    input.form__input(type="text" name='end' data-change-end='' data-date-input='' placeholder='dd.mm.yyyy')      
              .admin__row 
                .admin__container
                  each item in ['Пн.', 'Вт.', 'Ср.', 'Чт.', 'Пт.', 'Сб.', 'Вс.']
                    .admin__item(data-admin-checkbox-item='')
                      .admin__horiz
                        .admin__text
                          |#{item}
                      .admin__horiz
                        .checkbox 
                        label.checkbox__label
                          input.checkbox__input(type="checkbox" name='checkbox-1')
                          .checkbox__box 
                            +check-svg.checkbox__svg
          .admin__section 
            .admin__large 
              .button.button--xxl(data-admin-button='group')
                |Изменить
          .admin__section 
            template(data-calendar-template='')
              .admin__calendar-item(data-tab-block='2022')
                +calendar
            .admin__head 
              .admin__block(data-add-parent='')
                .product-tabs(data-add-container='')
                  .product-tabs__item 
                    .product-tabs__tab.active(data-real-tabs='2021')
                      .admin__text
                        |2021
                  .product-tabs__item(data-add-item='')
                    .product-tabs__tab(data-real-tabs='2022')
                      .admin__text
                        |2022
                .admin__block
                  .admin__text(data-add-button='year')
                    |Добавить
              .admin__list(data-calendar-parent='')
                .admin__calendar-item.active(data-tab-block='2021')
                  +calendar
                .admin__calendar-item(data-tab-block='2022')
                  +calendar
          .admin__section 
            .admin__large 
              button.button.button--xxl(type='submit')
                |Сохранить
        .admin__tab
          .admin__section
            .admin__col 
              .admin__row 
                h3.admin__title 
                  |Укажите сезон для формирования цены
              .admin__row
                .admin__horiz.admin__block 
                  .select-wrapper
                    .select
                      select.select__select(name="activity" style='width: 100%' data-season-select='' data-select-placeholder="Выберите сезон") 
                        option
                        option(value = 'hight21' disabled)
                          |Высокий сезон 2021
                        option(value = 'low21')
                          |Низкий сезон 2021
                        option(value = 'hight22')
                          |Высокий сезон 2022
                        option(value = 'low22')
                          |Низкий сезон 2022
                        option(value = 'sochi')
                          |sochi
                  .admin__block-item
                    .admin__show(data-add-season='')
                      |Добавить активный сезон
          .admin__section(data-tabs-parent='')
            .admin__col 
              .admin__caption
                |Активные сезоны
              .admin__horiz 
                .product-tabs.product-tabs--admin
                  .product-tabs__item(data-season-tab='hight21')
                    .product-tabs__tab.active(data-change-season='')
                      |Высокий сезон 2021
                    .product-tabs__icon(data-remove-season="")
                      +close-svg.product-tabs__svg
              .admin__seasons.admin__row
                .admin__seasons-item.active(data-season-item="hight21" data-add-parent='')
                  .admin__row(data-add-container='')
                    each item in ['Время работы гида (ВГ)', 'Время работы транспорта (ВТ)', 'Билетный пакет для взрослых (БВ)', 'Билетный пакет для студентов (БС)', 'Билетный пакет для школьников (БШ)']
                      .admin__row(data-add-item='')
                        .admin__block 
                          .admin__block.admin__block--end.admin__big
                            .admin__text
                              |#{item}
                          .admin__block
                            .admin__mid 
                              +input(type = 'text' name = 'text')
                  .admin__row 
                    .admin__show(data-add-button='seasonValue')
                      |Добавить произвольное значение
          .admin__section 
            .admin__block 
              .admin__block.admin__big
                .admin__text
                  |Наценка за сувинирную продукцию для детей школьников
              .admin__block 
                .admin__block-item.admin__mid
                .admin__block-item
                  .admin__mid 
                    +input.form__input--small(type = 'text' name = 'text' placeholder='стоимость')
              .admin__block.admin__big
                .admin__text
                  |Количество человек, при котором плюсуюется наценка (УШМИН)
              .admin__block 
                .admin__block-item.admin__mid
                  .admin__text
                    |Количество
                .admin__block-item
                  .admin__mid 
                    +input.form__input--small(type = 'text' name = 'text' placeholder='значение')
          .admin__section 
            .admin__col  
              .admin__row 
                .admin__horiz
                  .admin__text
                    |Укажите язык
                .admin__horiz
                  .admin__grid
                    .admin__item 
                      +checkbox(text='Русский')
                    .admin__item 
                      +checkbox(text='Английский')
                    .admin__item 
                      +checkbox(text='Немецкий')
                    .admin__item.admin__first
                      +checkbox(text='Французский')
                    .admin__item 
                      +checkbox(text='Итальянский')
                    .admin__item 
                      +checkbox(text='Шведский')
          .admin__section 
            .admin__block 
              .admin__text 
                |Экскурсионка
              .admin__block   
                - for (i = 1; i < 13; i++)
                  .admin__block-item
                    .admin__mid 
                      .admin__text.admin__text--center
                        |#{i}
                      .admin__horiz 
                        +input.form__input--small(type = 'text' name = 'text' placeholder='стоимость')
          .admin__section 
            .admin__col
              h3
                |Настройка акций
              .admin__row(data-add-parent='')
                .admin__list(data-add-container="")
                  .admin__list-item(data-add-item='')
                    .admin__container
                      .addmin__col
                        .admin__text 
                          |Время действия акций
                        .admin__horiz 
                          .admin__block 
                            .admin__text.admin__right 
                              |от
                            .admin__mid 
                              +input(type = 'text' name = 'text')
                          .admin__block 
                            .admin__text.admin__right 
                              |до
                            .admin__mid 
                              +input(type = 'text' name = 'text')
                      .admin__block
                        .admin__col 
                          .admin__text 
                            |Укажите размер скидки в процентах
                          .admin__horiz.admin__mid 
                            +input(type = 'text' name = 'text')
                .admin__row 
                  .admin__show(data-add-button="default")
                    |Добавить еще промежуток
            .admin__block.admin__block--start
              .admin__col
                h3
                  |Настройка акций СПБ + Балтика
                .admin__row(data-add-parent='')
                  .admin__list(data-add-container="")
                    .admin__list-item(data-add-item='')
                      .admin__container
                        .addmin__col
                          .admin__text 
                            |Время действия акций
                          .admin__horiz 
                            .admin__block 
                              .admin__text.admin__right 
                                |от
                              .admin__mid 
                                +input(type = 'text' name = 'text')
                            .admin__block 
                              .admin__text.admin__right 
                                |до
                              .admin__mid 
                                +input(type = 'text' name = 'text')
                        .admin__block
                          .admin__col 
                            .admin__text 
                              |Укажите размер скидки в процентах
                            .admin__horiz.admin__mid 
                              +input(type = 'text' name = 'text')
                  .admin__row 
                    .admin__show(data-add-button="default")
                      |Добавить еще промежуток
          .admin__section 
            .admin__col(data-add-parent='')
              .admin__text 
                |Добавить вечерние мероприятия
              .admin__row(data-add-container='')
                .admin__horiz(data-add-item='')
                  .admin__big 
                    .select-wrapper
                      .select
                        select.select__select(name="activity" style='width: 100%') 
                          option(value = item selected disabled)
                            |Выбрать вечерние мероприятие
                          option(value = '2')
                            |Folk-show
                          option(value = '3')
                            |Classical music concerts
                          option(value = '5')
                            |Russian ballet
                - for (let i = 0; i < 3; i++)
                  .admin__horiz
                    .admin__big 
                      .select-wrapper
                        .select
                          select.select__select(name="activity" style='width: 100%') 
                            option(value = item selected disabled)
                              |Выбрать вечерние мероприятие
                            option(value = '2')
                              |Folk-show
                            option(value = '3')
                              |Classical music concerts
                            option(value = '5')
                              |Russian ballet
              .admin__row 
                .admin__show(data-add-button='select') 
                  |Добавить еще
          .admin__section 
            .admin__large 
              button.button.button--xxl(type='submit')
                |Сохранить

  .modals 
    .modal(data-admin-modal='')
      .modal__container
        form.form.admin(action="/") 
          .select-wrapper(data-admin-select='')
            .select
              select.select__select(name="time" style='width: 100%' data-select-placeholder='Статус' data-select-value='') 
                option
                option(value = 'open')
                  |Активен
                option(value = 'close')
                  |Не активен
          .admin__row 
            .admin__block
              .admin__text.admin__right 
                |Закрытие автотической оплаты
              .admin__col
                input.form__input(data-close-input='' type="text" name='close')
          .admin__row 
            button.button.button--xxl
              |Сохранить



block footer