extends ../layouts/master.pug

include ../components/form-components

block header 

block content
  .admin 
    .container 
      .admin__top 
        .product-tabs
          each item, i in ['Общая информация', 'Состав тура', 'Календарь', 'Цены'] 
            .product-tabs__item 
              .product-tabs__tab(class=(i === 3) ? 'active' : '')
                h2 
                  |#{item}
      form.form(action="/") 
        .admin__section
          .admin__col 
            .admin__row 
              h3.admin__title 
                |Укажите сезон для формирования цены
            .admin__row.admin__big
              .admin__horiz.admin__horiz--noflex 
                .select-wrapper
                  .select
                    select.select__select(name="activity" style='width: 100%') 
                      option(value = '1')
                        |Высокий сезон 2021
                      option(value = '2')
                        |2
                      option(value = '3')
                        |3
                      option(value = '4')
                        |4
                      option(value = '5')
                        |5
              .admin__horiz.admin__horiz--noflex 
                .select-wrapper
                  .select
                    select.select__select(name="activity" style='width: 100%') 
                      option(value = '1')
                        |Низкий сезон 2021
                      option(value = '2')
                        |2
                      option(value = '3')
                        |3
                      option(value = '4')
                        |4
                      option(value = '5')
                        |5
              .admin__horiz.admin__horiz--noflex 
                .select-wrapper
                  .select
                    select.select__select(name="activity" style='width: 100%') 
                      option(value = '1')
                        |Выберите сезон
                      option(value = '2')
                        |2
                      option(value = '3')
                        |3
                      option(value = '4')
                        |4
                      option(value = '5')
                        |5
              .admin__horiz.admin__horiz--noflex 
                a.admin__show(href="#") 
                  |Добавить еще
        .admin__section 
          .admin__col 
            .admin__row 
              .admin__block 
                .admin__block.admin__big 
                  
                .admin__block 
                  .admin__text
                    |Высокий сезон 2021
                .admin__left 
                  .admin__text
                    |Низкий сезон 2021
            .admin__row 
              .admin__block 
                .admin__block.admin__block--end.admin__big
                  .admin__text
                    |Время работы гида (ВГ)
                .admin__block 
                  .admin__mid 
                    +input(type = 'text' name = 'text')
                .admin__block 
                  .admin__mid 
                    +input(type = 'text' name = 'text')
                .admin__block.admin__big
                  .admin__text
                    |Наценка за сувинирную продукцию для детей школьников
                .admin__block 
                  .admin__block-item.admin__mid
                  .admin__block-item
                    .admin__mid 
                      +input(type = 'text' name = 'text' placeholder='стоимость')
            .admin__row 
              .admin__block 
                .admin__block.admin__block--end.admin__big
                  .admin__text
                    |Время работы транспорта (ВТ)
                .admin__block 
                  .admin__mid 
                    +input(type = 'text' name = 'text')
                .admin__block 
                  .admin__mid 
                    +input(type = 'text' name = 'text')
                .admin__block.admin__big
                  .admin__text
                    |Количество человек, при котором плюсуюется наценка (УШМИН)
                .admin__block 
                  .admin__block-item.admin__mid
                    .admin__text
                      |Количество
                  .admin__block-item
                    .admin__mid 
                      +input(type = 'text' name = 'text' placeholder='значение')
            .admin__row 
              .admin__block 
                .admin__block.admin__block--end.admin__big
                  .admin__text
                    |Билетный пакет для взрослых (БВ)
                .admin__block 
                  .admin__mid 
                    +input(type = 'text' name = 'text')
                .admin__block 
                  .admin__mid 
                    +input(type = 'text' name = 'text')
            .admin__row 
              .admin__block 
                .admin__block.admin__block--end.admin__big
                  .admin__text
                    |Билетный пакет для студентов (БС)
                .admin__block 
                  .admin__mid 
                    +input(type = 'text' name = 'text')
                .admin__block 
                  .admin__mid 
                    +input(type = 'text' name = 'text')
            .admin__row 
              .admin__block 
                .admin__block.admin__block--end.admin__big
                  .admin__text
                    |Билетный пакет для школьников (БШ)
                .admin__block 
                  .admin__mid 
                    +input(type = 'text' name = 'text')
                .admin__block 
                  .admin__mid 
                    +input(type = 'text' name = 'text')
            .admin__row 
              .admin__block 
                .admin__block.admin__block--end.admin__big
                  .admin__text
                    |Количество часов в порту
                .admin__block 
                  .admin__mid 
                    +input(type = 'text' name = 'text')
                .admin__block 
                  .admin__mid 
                    +input(type = 'text' name = 'text')
            .admin__row 
              a.admin__show(href="#") 
                |Добавить произвольное значение
        .admin__section 
          .admin__col  
            .admin__row 
              .admin__horiz
                .admin__text
                  |Укажите язык
              .admin__horiz
                .admin__grid
                  .admin__item 
                    +checkbox(text='Русский')
                  .admin__item 
                    +checkbox(text='Английский')
                  .admin__item 
                    +checkbox(text='Немецкий')
                  .admin__item.admin__first
                    +checkbox(text='Французский')
                  .admin__item 
                    +checkbox(text='Итальянский')
                  .admin__item 
                    +checkbox(text='Шведский')
        .admin__section 
          .admin__block 
            .admin__text 
              |Экскурсионка
            .admin__block   
              - for (i = 1; i < 13; i++)
                .admin__block-item
                  .admin__mid 
                    .admin__text.admin__text--center
                      |#{i}
                    .admin__horiz 
                      +input(type = 'text' name = 'text' placeholder='стоимость')
        .admin__section 
          .admin__col
            h3
              |Настройка акций
            .admin__row
              .admin__container
                .addmin__col
                  .admin__text 
                    |Время действия акций
                  .admin__horiz 
                    .admin__block 
                      .admin__text.admin__right 
                        |от
                      .admin__mid 
                        +input(type = 'text' name = 'text')
                    .admin__block 
                      .admin__text.admin__right 
                        |до
                      .admin__mid 
                        +input(type = 'text' name = 'text')
                .admin__block
                  .admin__col 
                    .admin__text 
                      |Укажите размер скидки в процентах
                    .admin__horiz.admin__mid 
                      +input(type = 'text' name = 'text')
              .admin__row 
                a.admin__show(href="#") 
                  |Добавить еще промежуток
        .admin__section 
          .admin__large 
            button.button.button--xxl(type='submit')
              |Сохранить

block footer