extends ../layouts/master.pug

include  ../components/form-components

block footer

block content 
  .auth-page 
    .auth-page__container
      form.form(action="/") 
        .auth-page__title 
          |Войти в личный кабинет
        .auth-page__wrapper
          .form__item 
            +input(type="text" placeholder="Логин")
          .form__item 
            +input(type="password" placeholder="Пароль")
          .form__item 
            button.button.button--sticky 
              |Войти