extends ../layouts/master.pug

include  ../components/navigation
include  ../components/form-components

block content 
  -
    var ddata = {
      first: [
        {
          type: 'text',
          name: 'name',
          placeholder: 'Name'
        },
        {
          type: 'text',
          name: 'surname',
          placeholder: 'Surname'
        },
        {
          type: 'phone',
          name: 'phone',
          placeholder: 'Phone'
        }
      ],
      second: [
        {
          type: 'email',
          name: 'email',
          placeholder: 'E-mail'
        },
        {
          type: 'email',
          name: 'rep-email',
          placeholder: 'Reply e-mail'
        }
      ]
    }
  .booking-page
    section.section.section--first(data-aos='fade-up')
      .container
        +navigation(page="Booking an excursion")
    section.section.section--md 
      .container
        .booking-page__row.booking-page__row--wide
          .booking-page__col
            form.form(action="/") 
              .booking-page__top
                .booking-page__item
                  each item in ddata.first
                    .form__item(data-aos='fade-up') 
                      +input(name = item.name placeholder = item.placeholder type = item.type)
                .booking-page__item
                  each item in ddata.second
                    .form__item(data-aos='fade-up') 
                      +input(name = item.name placeholder = item.placeholder type = item.type)
              .booking-page__bot
                .form__wrapper 
                  .booking-page__top
                    .booking-page__item(data-aos='fade-up')
                      +checkbox
                    .booking-page__item(data-aos='fade-up')
                      +checkbox(text = 'I allow you to write to Viber, Telegram, and WhatsApp')
                .form__button(data-aos='fade-up') 
                  +button.button--sticky(tag = 'button')
                    |Proceed to filling out the temporary visa application forms
          .booking-page__col
            .booking-page__grid
              each item in ['Intensive guided tour', 'Relax tour', 'Russian Ballet']
                .booking-page__grid-item(data-aos='fade-up')
                  .booking-page__card 
                    .booking-page__card-container 
                      h4.booking-page__title 
                        |#{item}
                      .booking-page__card-info 
                        .booking-page__card-item 
                          .booking-page__card-label 
                            |date
                          .booking-page__card-time 
                            |29.10.2021
                        .booking-page__card-item 
                          .booking-page__card-label 
                            |time
                          .booking-page__card-time 
                            |11:00