extends ../layouts/master.pug

include  ../components/navigation
include  ../components/cart-price

block content 
  .cart-page
    section.section.section--first(data-aos='fade-up')
      .container
        +navigation(page="Cart")
    section.section.section--md
      .container 
        .cart-page__section 
          .cart-page__section-row 
            .cart-page__section-col(data-aos='fade-up')
              .cart-page__label 
                |Tour
            .cart-page__section-col(data-aos='fade-up')
              .cart-page__label 
                |Price
        .cart-page__row 
          .cart-page__col
            ul.cart-page__list
              - for (i = 0; i < 4; i++)
                li.cart-page__item(data-aos='fade-up')
                  .cart-page__product 
                    .cart-page__product-container 
                      .cart-page__product-row 
                        .cart-pag__left 
                          h4.cart-page__product-title 
                            |Intensive tour
                          .cart-page__left-row 
                            .cart-page__left-col    
                              .cart-page__left-item
                                .cart-page__product-label 
                                  |date
                                .cart-page__text 
                                  |29.10.2021
                              .cart-page__left-item
                                .cart-page__product-label 
                                  |city
                                .cart-page__text 
                                  |Saint Petersburg
                            .cart-page__left-col    
                              .cart-page__left-item
                                .cart-page__product-label 
                                  |Adults
                                .cart-page__text 
                                  |2
                              .cart-page__left-item
                                .cart-page__product-label 
                                  |students with isic
                                .cart-page__text 
                                  |5
                        .cart-page__right
                          .cart-page__right-col
                            .cart-page__right-label 
                              .cart-page__label 
                                |Price
                            .cart-page__price
                              |#[span.cart-page__price-span $1265] $1139
                          .cart-page__right-col
                            .cart-page__button 
                              .cart-page__button-mark
          .cart-page__col
            +cart-price