extends ../layouts/master.pug

include  ../components/navigation

block content
  section.section.section--first
    .container
      +navigation(page="Clients")
  section.section.section--md 
    .container 
      .row 
        .row__col
        .row__col