extends ../layouts/master.pug

include  ../components/navigation
include  ../components/aside
include  ../components/tour
include  ../components/panel
include  ../components/excursion-card

block content
  .excursions-page
    section.section.section--panel(data-aos='fade-up') 
      +panel(cruise=true disabled=true button='Apply')
    section.section.section--md(data-aos='fade-up')
      .container
        +navigation(page="Shore excursions")
    section.section.section--md 
      .container 
        .row 
          .row__col
            +aside
          .row__col
            .row__grid  
              each item in data.landExcursion
                .row__item(data-aos='fade-up') 
                  +excursion-card.excursion-card--response(tag='div' title = item.title src = item.src cruise=true)
            .button-wrapper(data-aos='fade-up') 
              +button(tag='div')
                |Show more
            +tour(text = data.cruiseTour)