extends ../layouts/master.pug

include  ../components/navigation
include  ../components/thumb-slider
include  ../components/excursion-individual

block content 
  -
    var ddata = [
      {
        label: 'country',
        text: 'Russia'
      },
      {
        label: 'city',
        text: 'Saint Petersburg'
      },
    ]
  .excursion-page
    section.section.section--first.section--desktop-visible 
      .container 
        .section__row 
          .section__col
            .excursion-page__breadcrumbs 
              .breadcrumb(data-aos='fade-up')
                ul.breadcrumb__list 
                  li.breadcrumb__item 
                    a.breadcrumb__link(href="#") 
                      |Home
                  li.breadcrumb__item 
                    a.breadcrumb__link(href="#") 
                      |Shore excursions
                  li.breadcrumb__item 
                    a.breadcrumb__link(href="#") 
                      |Relax tour
                  li.breadcrumb__item.breadcrumb__item--active 
                    a.breadcrumb__link(href="#")
                      |Russian Ballet
            .excursion-page__thumb-slider
              +thumb-slider
            .excursion-page__mobile  
              h1(data-aos='fade-up') 
                |Russian Ballet
              .sticky
                .sticky__inner.sticky__inner--small
                  .sticky__grid.sticky__grid--area-auto
                    each item in ddata
                      .sticky__item(data-aos='fade-up') 
                        .sticky__label 
                          |#{item.label}
                        .sticky__text 
                          |#{item.text}
                    .sticky__item(data-aos='fade-up')
                      .sticky__label 
                        |tour duration
                      .sticky__text 
                        |3 hours
                .sticky__inner(data-aos='fade-up') 
                  .sticky__price 
                    |#[span.sticky__price-price $129] / person
            section.section 
              +about
          .section__col
            .sticky
              +navigation(items=['Shore excursions', 'Relax tour'] page="Russian Ballet")
              .sticky__inner 
                .sticky__grid
                  each item in ddata
                    .sticky__item(data-aos='fade-up') 
                      .sticky__label 
                        |#{item.label}
                      .sticky__text 
                        |#{item.text}
              .sticky__inner 
                .sticky__grid
                  .sticky__item(data-aos='fade-up')
                    .sticky__label 
                      |tour duration
                    .sticky__text 
                      |3 hours
              .sticky__inner 
                .sticky__price 
                  |from #[span.sticky__price-discont $159] #[span.sticky__price-price $129] / person
    section.section 
      .container 
        +calculator-alt(price = '$1280')