extends ../layouts/master.pug

include  ../components/navigation
include  ../components/product-tabs

block content 
  .faq-page
    section.section.section--first
      .container
        +navigation(page="FAQ")
    section.section.section--md
      .container 
        .faq-page__row
          .faq-page__col
            .faq-page__top 
              +product-tabs
            ul.faq-page__pagination
              each item, index in data.faqPagination
                li.faq-page__pagination-item(class=((index===0) ? 'faq-page__pagination-item--active' : ''))
                  .faq-page__pagination-button 
                    |#{item.text}
            .faq-page__bot 
              +button.button--xl(tag = 'a' href = '#')
                |Ask your question
          .faq-page__col
            ul.faq-page__list
              each item in data.faqAccordion
                li.faq-page__item
                  .faq-page__accordion(data-accordion) 
                    .faq-page__accordion-head(data-accordion-button)
                      .faq-page__accordion-row 
                        .faq-page__accordion-col
                          .faq-page__accordion-title 
                            |#{item.text}
                        .faq-page__accordion-col 
                          .faq-page__accordion-tags
                            .faq-page__accordion-tag 
                              |Visa questions
                        .faq-page__accordion-col
                          .faq-page__accordion-button 
                            +plus-svg.faq-page__accordion-icon
                    .faq-page__accordion-body(data-accordion-dropdown)
                      .faq-page__accordion-container 
                        .faq-page__accordion-text
                          |Booking is carried out after full agreement of the program and the price. When booking, we will ask you to make a prepayment in the amount of 20% to 100% of the cost. The amount of the prepayment depends on the content of the program. When booking some programs, you will need the passport details of the participants.
            .button-wrapper
              +button(tag='div')
                |Show more