extends ../layouts/master.pug

include  ../components/navigation
include  ../components/product-tabs
include  ../components/form-components
include  ../components/modals

block content 
  .faq-page
    section.section.section--first(data-aos='fade-up')
      .container
        +navigation(page="FAQ")
    section.section.section--md
      .container 
        .faq-page__row
          .faq-page__col
            .faq-page__top 
              +product-tabs
            ul.faq-page__pagination(data-tabs='')
              each item, index in data.faqPagination
                li.faq-page__pagination-item(data-aos='fade-up')
                  .faq-page__pagination-button(data-tabs-item='' class=((index===0) ? 'active' : ''))
                    |#{item.text}
            .faq-page__bot(data-aos='fade-up') 
              .button.button--xl.animation(data-fancy-button='1')
                span.animation__span 
                  |Ask your question
          .faq-page__col
            ul.faq-page__list
              each item in data.faqAccordion
                li.faq-page__item(data-aos='fade-up')
                  .faq-page__accordion(data-accordion) 
                    .faq-page__accordion-head(data-accordion-button)
                      .faq-page__accordion-row 
                        .faq-page__accordion-col
                          h4
                            |#{item.text}
                        .faq-page__accordion-col 
                          .faq-page__accordion-tags
                            .faq-page__accordion-tag 
                              |Visa questions
                        .faq-page__accordion-col
                          .faq-page__accordion-button 
                            +plus-svg.faq-page__accordion-icon
                    .faq-page__accordion-body(data-accordion-dropdown)
                      .faq-page__accordion-container 
                        .faq-page__accordion-text
                          |Booking is carried out after full agreement of the program and the price. When booking, we will ask you to make a prepayment in the amount of 20% to 100% of the cost. The amount of the prepayment depends on the content of the program. When booking some programs, you will need the passport details of the participants.
            .button-wrapper(data-aos='fade-up')
              +button(tag='div')
                |Show more
  .modals 
    +faq-modal(id='1')