extends ../layouts/master.pug

block header 

block content 
  section.hero
    .hero__container 
      img.hero__img(src="assets/images/hero-main.jpg", alt="")
      .hero__frame.hero__frame--hidden(data-hero-frame='1')
        img.hero__img(src="assets/images/hero-main-1.jpg", alt="")
      .hero__frame.hero__frame--hidden(data-hero-frame='2')
        img.hero__img(src="assets/images/hero-main-2.jpg", alt="")
    .hero__content 
      span.hero__title  
        |St. Petersburg
      span.hero__title  
        |Russia and 
      span.hero__title  
        |Baltic Ports
      .hero__label 
        |with Best Guides
    .hero__tabs 
      .hero__item 
        .hero__tab(data-hero-tab='1') 
          .hero__tab-layout
          .hero__tab-container
            .hero__top 
              .hero__tab-title 
                |Shore excursions
              .hero__button 
                +arrow-svg.hero__arrow
            .hero__icon
              +hero-cruise-svg.hero__cruise
      .hero__item 
        .hero__tab(data-hero-tab='2') 
          .hero__tab-layout
          .hero__tab-container
            .hero__top 
              .hero__tab-title 
                |For hotel guests
              .hero__button 
                +arrow-svg.hero__arrow
            .hero__icon
              +hero-walk-svg.hero__walk

block footer