extends ../layouts/master.pug

include  ../components/navigation
include  ../components/tour
include  ../components/aside
include  ../components/landmark-card

block content 
  .landmarks-page
    section.section.section--first
      .container
        +navigation(items=['Landmarks'] page="Landmarks of Saint Petersburg")
    section.section.section--md 
      .container 
        .row 
          .row__col
            .aside.aside--active
              .aside__container 
                +aside-button
                .aside__dropdown
                  .landmarks-page__city.landmarks-page__city--active
                    |Saint Petersburg
                  ul.landmarks-page__list 
                    each item in ['City sights', 'Museums', 'Palaces', 'Cathedrals and monasteries', 'Fortresses', 'Theaters', 'Suburbs', ]
                      li.landmarks-page__item 
                        a.landmarks-page__link(href="#") 
                          |#{item}
                  ul.landmarks-page__list 
                    each item in ['Moscow', 'Novgorod', 'Tallinn', 'Helsinki', 'Porvoo', 'Berlin', 'Rostock/Warnemünde', 'Schwerin', 'Stockholm', 'Copenhagen']
                      li.landmarks-page__item 
                        a.landmarks-page__button(href="#") 
                          |#{item}
          .row__col
            .row__grid 
              each item in data.landmarksSaintPeter
                +landmark-card(src = item.src title = item.title)
            .button-wrapper
              +button(tag='div')
                |Show more
            +tour(text = data.landmarksTour title = 'Landmarks of Saint Petersburg')
