extends ../layouts/master.pug

include  ../components/navigation
include  ../components/sticky
include  ../components/thumb-slider
include  ../components/excursion-card 
include  ../components/slider-buttons
include  ../components/excursion-individual

block content
  -
    var ddata = [
      {
        label: 'city',
        text: 'Saint Petersburg'
      },
      {
        label: 'Suburb',
        text: 'Pushkin'
      },
    ]
  .excursion-page
    section.section.section--first.section--desktop-visible
      .container
        .section__row
          .section__col
            .excursion-page__breadcrumbs 
              .breadcrumb(data-aos='fade-up')
                ul.breadcrumb__list 
                  li.breadcrumb__item 
                    a.breadcrumb__link(href="#") 
                      |Home
                  li.breadcrumb__item 
                    a.breadcrumb__link(href="#") 
                      |Attractions
                  li.breadcrumb__item 
                    a.breadcrumb__link(href="#")
                      |Cathedrals and Monasteries of St. Petersburg
                  li.breadcrumb__item.breadcrumb__item--active 
                    a.breadcrumb__link(href="#")
                      |Peter and Paul Fortress
            .excursion-page__thumb-slider(data-aos='fade-up')
              +thumb-slider
            .excursion-page__mobile  
              h1(data-aos='fade-up') 
                |Peter and Paul Fortress
              .sticky
                .sticky__inner.sticky__inner--small
                  .sticky__grid.sticky__grid--area-auto
                    each item in ddata
                      .sticky__item(data-aos='fade-up') 
                        .sticky__label 
                          |#{item.label}
                        .sticky__text 
                          |#{item.text}
                    .sticky__item(data-aos='fade-up')
                      .sticky__label 
                        |landmark type
                      .sticky__text 
                        |Cathedrals and monasteries
            section.section 
              +about
          .section__col
            .sticky
              +navigation(items=['Attractions', 'Cathedrals and Monasteries of St. Petersburg'] page="Peter and Paul Fortress")
              .sticky__inner 
                .sticky__grid
                  each item in ddata
                    .sticky__item(data-aos='fade-up') 
                      .sticky__label 
                        |#{item.label}
                      .sticky__text 
                        |#{item.text}
              .sticky__inner 
                .sticky__item(data-aos='fade-up') 
                  .sticky__label 
                    |landmark type
                  .sticky__text 
                    |Cathedrals and monasteries
    section.section 
      .container 
        .excursion-page__slider 
          .excursion-page__slider-row(data-aos='fade-up')
            .excursion-page__slider-col
              h2
                |Appropriate tours
            .excursion-page__slider-col
              +slider-buttons(next = 1 prev = 2)
          .swiper-container.swiper-container--slide-width-auto.swiper-container--visible.swiper-container--slide-height-max(data-slider-id='1' data-slider-next='1' data-slider-prev='2' data-aos='fade-up')
            .swiper-wrapper
              each item in data.mainSellers 
                .swiper-slide 
                  +excursion-card(tag='a' href='#' title = item.title walk = item.walk src = item.src body='div')
block scripts
  script(src="https://www.youtube.com/iframe_api")