extends ../layouts/master.pug

include  ../components/navigation
include  ../components/aside
include  ../components/panel
include  ../components/excursion-card

block content
  .excursions-page
    section.section.section--panel 
      +panel
    section.section.section--md
      .container
        +navigation(page="FAQ")
    section.section.section--md 
      .container 
        .row 
          .row__col
            +aside-button
            .row__col-aside
              +aside
          .row__col
            .row__grid  
              each item in data.landExcursion
                .row__item 
                  +excursion-card.excursion-card--response(title = item.title src = item.src discont = item.discont)
            .button-wrapper 
              +button(tag='div')
                |Show more
            .tour 
              .tour__container 
                h3.tour__title 
                  |Tours
                p.tour__text 
                  |There may be no greater American than George Washington. Washington became the first United States President in 1789 with his unanimous victory in the first American election. He was also unanimously elected to a second term in 1793, the only president ever to garner 100 percent of the electoral votes. Washington was also the Commander-in-Chief of the First Continental Army that fought the British when the country was not yet established.
