extends ../layouts/master.pug

include ../components/reviews-card
include ../components/guides-card
include ../components/excursion-card 
include ../components/slider-buttons

block header 
  +header(transparent = true)

block content 
  .main-page(data-header-transparent='')
    section.hero 
      .hero__container(data-aos='fade-up')
        img.hero__img(src="assets/images/hero-main.jpg", alt="")
        .hero__frame.hero__frame--hidden(data-hero-frame='1')
          img.hero__img(src="assets/images/hero-main-1.jpg", alt="")
        .hero__frame.hero__frame--hidden(data-hero-frame='2')
          img.hero__img(src="assets/images/hero-main-2.jpg", alt="")
      .hero__content 
        span.hero__title  
          |St. Petersburg
        span.hero__title  
          |Russia and 
        span.hero__title  
          |Baltic Ports
        .hero__label 
          |with Best Guides
      .hero__tabs(data-aos='fade-up')
        .hero__item 
          .hero__tab(data-hero-tab='1') 
            .hero__tab-layout
            .hero__tab-container
              .hero__top 
                .hero__tab-title 
                  |Shore excursions
                .hero__button 
                  +arrow-svg.hero__arrow
              .hero__icon
                img.hero__cruise(src="assets/images/hero-1.gif", alt="")
        .hero__item 
          .hero__tab(data-hero-tab='2') 
            .hero__tab-layout 
            .hero__tab-container
              .hero__top 
                .hero__tab-title 
                  |For hotel guests
                .hero__button 
                  +arrow-svg.hero__arrow
              .hero__icon
                img.hero__walk(src="assets/images/hero-2.gif", alt="")
    section.section
      .container
        .main-page__top 
          .main-page__top-row(data-aos='fade-up')
            .main-page__top-col
              +slider-buttons(next = 1 prev = 2)
            .main-page__top-col 
              h3.main-page__title
                |Best sellers
        .swiper-container.swiper-container--slide-width-auto.swiper-container--slide-height-max.swiper-container--visible.swiper-container--visible--mobile(data-slider-id='1' data-slider-next='1' data-slider-prev='2' data-aos='fade-up')
            .swiper-wrapper
              each item in data.mainSellers 
                .swiper-slide 
                  +excursion-card(tag='a' href='#' title = item.title walk = item.walk src = item.src body='div')
    section.section 
      .container 
        .main-page__about 
          .main-page__about-layout
          .main-page__about-container 
            .main-page__about-top(data-aos='fade-up')  
              .main-page__about-title  
                |Best Guides
              .main-page__about-label 
                |Saint Petersburg
            .main-page__about-content(data-aos='fade-up') 
              p.main-page__about-text 
                |Back in 2010, several St. Petersburg guides, graduates of St. Petersburg University, joined together, created their own website and started working together. We saw no obstacles and were ready to move mountains. And most importantly, we loved our city and our profession very much.
              .main-page__about-button 
                +button(tag = 'a' href = '#')
                  |More about us
    section.section
      .container 
        .main-page__top
          .main-page__top-row(data-aos='fade-up')
            .main-page__top-col
              +slider-buttons(next = 3 prev = 4)
            .main-page__top-col
              .main-page__title 
                |Team
            .main-page__top-col
              +button(tag = 'a' href = '#')
                |Read more
        .team(data-aos='fade-up')
          .swiper-container.swiper-container--slide-width-auto.swiper-container--slide-height-max.swiper-container--visible(data-slider-id='1' data-slider-next='3' data-slider-prev='4')
            .swiper-wrapper 
              each item in data.team
                .swiper-slide 
                  .team__item
                    +guides-card(sign = item.sign name = item.name src = item.src)
    section.section 
      .container 
        .main-page__features
          .main-page__features-container 
            .main-page__features-row 
              each item in data.mainFeatures
                .main-page__features-col(data-aos='fade-up')
                  .main-page__features-img 
                    img.main-page__features-icon(src="assets/images/svg/" + item.src, alt="")
                  .main-page__features-text 
                    |#{item.text}
              .main-page__properties
                .main-page__properties-container 
                  .main-page__properties-row 
                    .main-page__properties-col(data-aos='fade-up') 
                      .main-page__properties-img 
                        +properties-1-svg
                      .main-page__properties-text 
                        |Tripadvisor rating
                    .main-page__properties-col(data-aos='fade-up') 
                      .main-page__properties-img 
                        img.main-page__properties-image(src="assets/images/russia.png", alt="")
                      .main-page__properties-text 
                        |Unified Federal Register of Tour Operators
                    .main-page__properties-col(data-aos='fade-up') 
                      .main-page__properties-img 
                        +properties-3-svg
                      .main-page__properties-text 
                        |We always get back to the ship on time
    section.section 
      .container 
        .main-page__standarts 
          .rail
          .main-page__standarts-inner 
            .main-page__standarts-wrapper
              h3.main-page__title(data-aos='fade-up') 
                |We observe sanitary and hygienic standards
            .main-page__standarts-row
              .main-page__standarts-col(data-aos='fade-up')
                .main-page__standarts-img
                  +standarts-1-svg
                .main-page__standarts-text  
                  |All equipment we use is disinfected before each trip
              .main-page__standarts-col(data-aos='fade-up')
                .main-page__standarts-img
                  +standarts-2-svg
                .main-page__standarts-text  
                  |We provide individual protection for each person on our tours
              .main-page__standarts-col(data-aos='fade-up')
                .main-page__standarts-img
                  +standarts-3-svg
                .main-page__standarts-text  
                  |Antiseptics are available on all tours
              .main-page__standarts-col(data-aos='fade-up')
                .main-page__standarts-img
                  +standarts-4-svg
                .main-page__standarts-text  
                  |Personal headphones are disinfected after each tour
          .rail.rail--reverse
    section.section 
      .container 
        .main-page__top(data-aos='fade-up')
          h3.main-page__title   
            |Reviews
        .swiper-container.swiper-container--visible.swiper-container--visible--mobile.swiper-container--slide-width-auto.swiper-container--slide-height-max(data-slider-id='1' data-aos='fade-up')
          .swiper-wrapper
            each item in data.mainReviews
              .swiper-slide
                +reviews-card(name = item.name)
    section.section   
      .container 
        .main-page__top(data-aos='fade-up')
          h3.main-page__title   
            |Find us in social media
        .main-page__media(data-aos='fade-up') 
          a.media-card(href="#" target="_blank")  
            .media-card__inner
              .media-card__img 
                +media-instagram-svg.media-card__svg
              .media-card__label 
                |Instagram
          a.media-card(href="#" target="_blank")  
            .media-card__inner
              .media-card__img 
                +media-facebook-svg.media-card__svg
              .media-card__label 
                |Facebook
          a.media-card(href="#" target="_blank")  
            .media-card__inner
              .media-card__img 
                +media-tripadvisor-svg.media-card__svg
              .media-card__label 
                |Tripadvisor
          a.media-card(href="#" target="_blank")  
            .media-card__inner
              .media-card__img 
                +media-twitter-svg.media-card__svg
              .media-card__label 
                |Twitter
