extends ../layouts/master.pug

include ../components/reviews-card
include ../components/guides-card
include ../components/excursion-card 
include ../components/slider-buttons

block header 
  +header(transparent = true)

block content 
  .main-page.page-transparent
    section.hero
      .hero__frame 
        img.hero__img(src="assets/images/hero-main.jpg", alt="")
      .hero__content 
        span.hero__title  
          |St. Petersburg
        span.hero__title  
          |Russia and 
        span.hero__title  
          |Baltic Ports
        .hero__label 
          |with Best Guides
      .hero__tabs 
        .hero__item 
          .hero__tab 
            .hero__container
              .hero__top 
                .hero__tab-title 
                  |Shore excursions
                .hero__button 
                  +arrow-svg.hero__arrow
              .hero__icon
                +hero-cruise-svg.hero__cruise
        .hero__item 
          .hero__tab 
            .hero__container
              .hero__top 
                .hero__tab-title 
                  |For hotel guests
                .hero__button 
                  +arrow-svg.hero__arrow
              .hero__icon
                +hero-walk-svg.hero__walk
    section.section
      .container
        .main-page__top 
          .main-page__top-row 
            .main-page__top-col
              +slider-buttons(next = 1 prev = 2)
            .main-page__top-col 
              h3.main-page__title
                |Best sellers
        .swiper-container.swiper-container--slide-width-auto.swiper-container--slide-height-max.swiper-container--visible.swiper-container--visible--mobile(data-slider-id='1' data-slider-next='1' data-slider-prev='2')
            .swiper-wrapper
              each item in data.mainSellers 
                .swiper-slide 
                  +excursion-card(title = item.title walk = item.walk src = item.src)
    section.section 
      .container 
        .main-page__about 
          .main-page__about-layout
          .main-page__about-container 
            .main-page__about-top  
              .main-page__about-title  
                |Best Guides
              .main-page__about-label 
                |Saint Petersburg
            .main-page__about-content 
              p.main-page__about-text 
                |Back in 2010, several St. Petersburg guides, graduates of St. Petersburg University, joined together, created their own website and started working together. We saw no obstacles and were ready to move mountains. And most importantly, we loved our city and our profession very much.
              .main-page__about-button 
                +button(tag = 'a' href = '#')
                  |More about us
    section.section
      .container 
        .main-page__top
          .main-page__top-row 
            .main-page__top-col
              +slider-buttons(next = 3 prev = 4)
            .main-page__top-col
              .main-page__title 
                |Team
            .main-page__top-col
              +button(tag = 'a' href = '#')
                |Read more
        .team
          .swiper-container.swiper-container--slide-width-auto.swiper-container--slide-height-max.swiper-container--visible(data-slider-id='1' data-slider-next='3' data-slider-prev='4')
            .swiper-wrapper 
              each item in data.team
                .swiper-slide 
                  .team__item
                    +guides-card(sign = item.sign name = item.name src = item.src)
    section.section 
      .container 
        .main-page__features
          .main-page__features-container 
            .main-page__features-row 
              each item in data.mainFeatures
                .main-page__features-col
                  .main-page__features-img 
                    img.main-page__features-icon(src="assets/images/svg/" + item.src, alt="")
                  .main-page__features-text 
                    |#{item.text}
              .main-page__properties
                .main-page__properties-container 
                  .main-page__properties-row 
                    .main-page__properties-col 
                      .main-page__properties-img 
                        +properties-1-svg
                      .main-page__properties-text 
                        |Tripadvisor rating
                    .main-page__properties-col 
                      .main-page__properties-img 
                        img.main-page__properties-image(src="assets/images/properties-2.jpg", alt="")
                      .main-page__properties-text 
                        |Unified Federal Register of Tour Operators
                    .main-page__properties-col 
                      .main-page__properties-img 
                        +properties-3-svg
                      .main-page__properties-text 
                        |We always get back to the ship on time
    section.section 
      .container 
        .main-page__standarts 
          .rail
          .main-page__standarts-inner 
            .main-page__standarts-wrapper
              h3.main-page__title 
                |We observe sanitary and hygienic standards
            .main-page__standarts-row
              .main-page__standarts-col
                .main-page__standarts-img
                  +standarts-1-svg
                .main-page__standarts-text  
                  |All equipment we use is disinfected before each trip
              .main-page__standarts-col
                .main-page__standarts-img
                  +standarts-2-svg
                .main-page__standarts-text  
                  |We provide individual protection for each person on our tours
              .main-page__standarts-col
                .main-page__standarts-img
                  +standarts-3-svg
                .main-page__standarts-text  
                  |Antiseptics are available on all tours
              .main-page__standarts-col
                .main-page__standarts-img
                  +standarts-4-svg
                .main-page__standarts-text  
                  |Personal headphones are disinfected after each tour
          .rail.rail--reverse
    section.section 
      .container 
        .main-page__top
          h3.main-page__title   
            |Reviews
        .swiper-container.swiper-container--visible.swiper-container--visible--mobile.swiper-container--slide-width-auto.swiper-container--slide-height-max(data-slider-id='1')
          .swiper-wrapper
            each item in data.mainReviews
              .swiper-slide
                +reviews-card(name = item.name)
    section.section   
      .container 
        .main-page__top
          h3.main-page__title   
            |Find us in social media
        .main-page__media 
          a.media-card(href="#")  
            .media-card__inner
              .media-card__img 
                +media-instagram-svg.media-card__svg
              .media-card__label 
                |Instagram
          a.media-card(href="#")  
            .media-card__inner
              .media-card__img 
                +media-facebook-svg.media-card__svg
              .media-card__label 
                |Facebook
          a.media-card(href="#")  
            .media-card__inner
              .media-card__img 
                +media-tripadvisor-svg.media-card__svg
              .media-card__label 
                |Tripadvisor
          a.media-card(href="#")  
            .media-card__inner
              .media-card__img 
                +media-twitter-svg.media-card__svg
              .media-card__label 
                |Twitter
