extends ../layouts/master.pug

include ../components/reviews-card

block content 
  .main-page
    section.section--first 
    section.section
      .container 
        .team 

    section.section 
      .container 
        .main-page__standarts 
          .rail
          .main-page__standarts-inner 
            .main-page__standarts-wrapper
              h3.main-page__title 
                |We observe sanitary and hygienic standards
            .main-page__standarts-row
              .main-page__standarts-col
                .main-page__standarts-img
                  +standarts-1-svg
                .main-page__standarts-text  
                  |All the equipment we used is disinfected before each trip
              .main-page__standarts-col
                .main-page__standarts-img
                  +standarts-2-svg
                .main-page__standarts-text  
                  |We provide individual protection for each person on our tours
              .main-page__standarts-col
                .main-page__standarts-img
                  +standarts-3-svg
                .main-page__standarts-text  
                  |Antiseptics are available on all tours
              .main-page__standarts-col
                .main-page__standarts-img
                  +standarts-4-svg
                .main-page__standarts-text  
                  |Personal headphones are disinfected after each tour
          .rail.rail--reverse

    section.section 
      .container 
        .main-page__header 
          h3.main-page__title   
            |Reviews
        .main-page__reviews 
          each item in data.mainReviews
            +reviews-card(name = item.name)
    section.section   
      .container 
        .main-page__header 
          h3.main-page__title   
            |Find us in social media
        .main-page__media 
          a.media-card(href="#")  
            .media-card__inner
              .media-card__img 
                +media-instagram-svg.media-card__svg
              .media-card__label 
                |Instagram
          a.media-card(href="#")  
            .media-card__inner
              .media-card__img 
                +media-facebook-svg.media-card__svg
              .media-card__label 
                |Facebook
          a.media-card(href="#")  
            .media-card__inner
              .media-card__img 
                +media-tripadvisor-svg.media-card__svg
              .media-card__label 
                |Tripadvisor
          a.media-card(href="#")  
            .media-card__inner
              .media-card__img 
                +media-twitter-svg.media-card__svg
              .media-card__label 
                |Twitter
