extends ../layouts/master.pug

include  ../components/navigation
include ../components/guides-card

block content 
  section.section.section--first
    .container
      +navigation(page="Our guides")
  section.section.section--md 
    .container
      .guides-grid 
        each item in data.guides
          +guides-card(name = item.name src = item.src)
