extends ../layouts/master.pug

include  ../components/navigation
include  ../components/guides-card
include  ../components/modals

block content 
  
  section.section.section--first(data-aos='fade-up') 
    .container
      +navigation(page="Our guides")
  section.section.section--md 
    .container
      .guides-grid 
        each item in data.team
          +guides-card(sign = item.sign name = item.name src = item.src)
  .modals 
    +team-modal(id='1')