extends ../layouts/master.pug

include  ../components/navigation

block content 
  .container
    section.section.section--first 
      +navigation(page="Our guides")
    section.section.section--md 
      
