extends ../layouts/master.pug

block content 
  .successful-page
    section.section.section--first 
      .container
        .navigation   
          .navigation__inner
            .breadcrumb(data-aos='fade-up') 
              ul.breadcrumb__list 
                li.breadcrumb__item 
                  a.breadcrumb__link(href="#") 
                    |Home
                li.breadcrumb__item.breadcrumb__item--active 
                  a.breadcrumb__link(href="#")
                    |Booking an excursion
        .successful-page__inner
          .successful-page__row
            .successful-page__col
              h1(data-aos='fade-up') 
                |The application has been sent
              .successful-page__text(data-aos='fade-up') 
                |This tour can only be booked after consultation with the manager. #[br] Our manager will contact you as soon as possible»
            .successful-page__col
              .successful-page__image(data-aos='fade-up')  
                +mail-successful-svg.successful-page__icon