extends ../layouts/master.pug


block content 
  .successful-page
    section.section.section--first 
      .container
        .navigation   
          .navigation__inner
            .breadcrumb
              ul.breadcrumb__list 
                li.breadcrumb__item 
                  a.breadcrumb__link(href="#") 
                    |Home
                li.breadcrumb__item.breadcrumb__item--active 
                  a.breadcrumb__link(href="#")
                    |Booking an excursion
        .successful-page__row
          .successful-page__col
            h1 
              |Payment was successful
            .successful-page__text 
              |Receipt and ticket sent to your e-mail address #[a.successful-page__link(href='#') ksh@cloudmill.ru.]
          .successful-page__col
            .successful-page__image 
              +receipt-svg.successful-page__svg