extends ../layouts/master.pug

block header 

block content
  .test 
    select.test-one(name="asd")
      option(value="1")
        |zxcqweads 
      option(value="2")
        |2
      option(value="3")
        |3
    select.test-two(name="asd")
      option(value="1")
        |zxcqweads
      option(value="2")
        |2
      option(value="3")
        |3
    select.test-three(name="asd")
      option(value="1")
        |zxcqweads
      option(value="2")
        |2
      option(value="3")
        |3
  
block footer