.align-end {
  display: flex;
  align-items: flex-end;

  &--table {
    @media (max-width: $breakpoint-m - 1px) {
      display: block;
    }
  }
}

.js-hidden {
  display: none;
}

.relative {
  position: relative;
  z-index: 0;
}