mixin aside 
  .aside.active(data-accordion='')
    .aside__container
      +aside-button
      .aside__dropdown(data-accordion-dropdown='')
        ul.aside__list
          li.aside__item.aside__item--select(data-select-parent='' data-aos='fade-up')
            .aside__top 
              .aside__type 
                |Language
              a.aside__select.disabled(data-select-button='' href="#")
                |Select
            .aside__body
              .select-wrapper
                .select.select--md
                  select.select__mobile(name="location-mob" data-aside-select='')
                    option(value="" disabled selected)
                      |Select language
                    each item in data.selectValues.language
                      option(value = item.value)
                        |#{item.value}
                  select.select__select(name="lang" style='width: 100%' data-select-placeholder='Select language') 
                    option
                    each item in data.selectValues.language
                      option(value = item.value)
                        |#{item.value}
          each item in data.asideExcursion
            li.aside__item(data-aos='fade-up') 
              .aside__top
                .aside__type 
                  |#{item.type}
                a.aside__select.disabled(href="#") 
                  |Select
              .aside__body
                each text in item.options
                  label.aside__label
                    input.aside__input(type="checkbox" name='checkbox' value='1')
                    .aside__checkbox
                      +check-svg.aside__svg
                    .aside__text 
                      |#{text.text}
          li.aside__item(data-aos='fade-up') 
              .aside__top
                .tooltip 
                  .aside__type 
                    |Availability for wheelchair-users
                    span.tooltip__span
                      .tooltip__icon 
                        +tooltip-svg.tooltip__svg
                  .tooltip__container 
                    |Attention! In order to visit this tour, you need to apply for a temporary visa. Without a temporary visa, you will not be allowed out of the port.
                a.aside__select.disabled(href="#") 
                  |Select
              .aside__body
                label.aside__label
                  input.aside__input(type="checkbox" name='checkbox' value='1')
                  .aside__checkbox
                    +check-svg.aside__svg
                  .aside__text 
                    |On sale 
        .aside__buttons(data-aos='fade-up')  
          .aside__buttons-item 
            .button-icon.animation(data-clear-button='')
              .button-icon__icon 
                +repeat-svg.button-icon__svg
              span.button-icon__text.animation__span
                |Clear
mixin aside-button 
  .aside-button(data-accordion-button='' data-aos='fade-up')
    .aside-button__text
      |Filters
    .aside-button__icon 
      +plus-svg.aside-button__svg