mixin cart-price  
  .cart-price(data-aos='fade-up')
    .cart-price__container 
      .cart-price__row 
        .cart-price__col 
          -
            var ddata = [
              {
                text: 'Initial cost',
                num: '$3000'
              },
              {
                text: 'Current discount',
                num: '$200'
              },
              {
                text: 'Package discount"',
                num: '$200'
              },
            ]
          each item in ddata
            .cart-price__item 
              .cart-price__text 
                |#{item.text}
              .cart-price__num 
                |#{item.num}
          .cart-price__item 
            .cart-price__caption 
              |To be paid
            .cart-price__number 
              |$2800
        .cart-price__col 
          +button.button--sticky(tag = 'div')
            |Arrange a tour