include ./nav
include ./social
include ./media

mixin footer 
  footer.footer 
    .container 
      .footer__inner 
        .footer__container
          .footer__choice 
            .footer__choice-item  
              |Shore excursions
            .footer__choice-item  
              |For hotel guests
          .footer__nav 
            +nav.nav--big(links = data.navFooter)
          +media
          .footer__bot
            .footer__social 
              +social
            .footer__logo 
              img.footer__logo-img(src="assets/images/logo-black.png", alt="")
            .footer__privacy
              |Privacy Policy
            .footer__award  
              |© 2021 Best Guides
            .footer__corp 
              |Made in #[a.footer__corp-link(href='#') CloudMill]