include ./nav

mixin header  
  header.header(class=(attributes.transparent) ? 'header--transparent' : '')
    .container 
      .header__inner
        .header__header
          .header__row 
            .header__col
              .header__left 
                .header__left-col
                  a.header__logo(href="#")  
                    img.header__img(src="assets/images/logo-black.png", alt="")
                    if (attributes.transparent)
                      img.header__img.header__img--white(src="assets/images/logo-white.png", alt="")
                .header__left-col 
                  .header__phone
                    a.header__phone-link(href="tel:+78124413163") 
                      |#{data.phone}
                    .header__phone-icon
                      +arrow-svg.header__phone-svg
                  .header__category 
                    .header__category-item 
                      .header__category-icon 
                        +one-svg.header__category-svg
                      a.header__category-link(href="#") 
                        |Shore excursions
                    .header__category-item
                      .header__category-icon 
                        +two-svg.header__category-svg 
                      a.header__category-link(href="#") 
                        |For hotel guests
            .header__col 
              .header__right  
                .header__right-col
                  +nav(links = data.nav)
                  form.header__search
                    .header__search-item 
                      input.header__search-input(type="text" placeholder="Search")
                      button.header__search-button(type="submit")
                        +search-svg.header__search-icon
                .header__right-col
                  .header__lang 
                    .header__lang-text 
                      |En 
                    .header__lang-icon 
                      +arrow-svg.header__lang-svg
                  a.header__store(href="#")
                    .header__store-count 
                      .header__store-num 
                        |4
                    .header__store-icon
                      +bag-svg.header__store-svg
        .header__mobile
          .header__row 
            .header__col
              .header__item
                .header__menu 
                  .header__burger
              .header__item
                a.header__logo(href="#")  
                  img.header__img(src="assets/images/logo-black.png", alt="")
              .header__phone
                a.header__phone-link(href="tel:+78124413163") 
                  |#{data.phone}
                .header__phone-icon
                  +arrow-svg.header__phone-svg
            .header__col
              .header__item
                .header__search-button
                  +search-svg.header__search-icon
              .header__item
                a.header__store(href="#") 
                  .header__store-count 
                    .header__store-num 
                      |4
                  .header__store-icon
                    +bag-svg