mixin landmark-card   
  a.landmark-card(href="#") 
    .landmark-card__container 
      img.landmark-card__img(src="assets/images/" + attributes.src, alt="")
    h4.landmark-card__title
      |#{attributes.title}