mixin media 
  .media(class=attributes.class)
    .media__item(data-aos='fade-up')
      .media__icon 
        +call-svg.media__svg
      a.media__phone(href="tel:+78124413163") 
        |#{data.phone}
    .media__item(data-aos='fade-up')
      .media__icon 
        +message-svg.media__svg
      a.media__mail(href="mailto:info@bestguides-spb.com") 
        |info@bestguides-spb.com
    .media__item(data-aos='fade-up')
      .media__icon 
        +location-svg.media__svg
      .media__text
        |191186, Russia, St. Petersburg, Kanal #[br] Griboedova embankment., H. 5, Off. 205
        if (attributes.link)
          a.media__link(href="#" target='_blank') 
            |#{attributes.link}