mixin nav-page 
  .nav-page 
    ul.nav-page__list
      each item, i in ['Booking', 'Payment', 'Cancellation', 'For wheelchair users']
        li.nav-page__item(class=((i === 0) ? 'nav-page__item--active' : ''))
          a.nav-page__link(href="#") 
            |#{item}