mixin panel 
  .panel 
    .container
      .panel__inner 
        .panel__row 
          .panel__col
            .excursion-btn
              .panel__item
                a.excursion-btn__button(href="#" class=(attributes.cruise ? 'excursion-btn__button--active' : '')) 
                  .excursion-btn__icon
                    +cruise-svg.excursion-btn__cruise
                  .excursion-btn__text
                    |Shore excursions
              .panel__item
                a.excursion-btn__button(href="#" class=(attributes.cruise ? '' : 'excursion-btn__button--active')) 
                  .excursion-btn__icon 
                    +walk-svg.excursion-btn__walk
                  .excursion-btn__text
                    |For hotel guests
          .panel__col
            .panel__select
              .select-wrapper
                .select
                  select.select__select(name="location" style='width: 100%' data-select-placeholder='Location') 
                    option
                    each item in data.selectValues.locations
                      option(value = item.value)
                        |#{item.value} 
            if (attributes.cruise)
              .panel__date
                .data-picker-wrapper
                  .data-picker
                    .panel__date-label
                      |Cruise start date
                    label.data-picker__label
                      .data-picker__icon 
                        +calendar-svg.data-picker__svg
                      input.data-picker__input(type="text" placeholder='28.10.2021')
          .panel__col
            .panel__button
              |Apply
//- .excursion-btn__button--active