mixin product-tabs 
  .product-tabs(data-tabs='')
    .product-tabs__item
      .product-tabs__tab.active(data-tabs-item='') 
        |Cruise ship
    .product-tabs__item
      .product-tabs__tab(data-tabs-item='')
        |On land