mixin product-tabs 
  .product-tabs 
    .product-tabs__item.product-tabs__item--active
      .product-tabs__tab 
        |Cruise ship
    .product-tabs__item 
      .product-tabs__tab 
        |On land