mixin product-tabs 
  .product-tabs(data-tabs='')
    .product-tabs__item
      .product-tabs__tab.active(data-tabs-item='') 
        |For cruise ship passengers
    .product-tabs__item
      .product-tabs__tab(data-tabs-item='')
        |For hotel guests