mixin slider-buttons 
  .slider-buttons(class = attributes.class)
    .slider-buttons__item   
      .slider-buttons__button(data-slider-button = attributes.prev)
        +arrow-svg.slider-buttons__icon
    .slider-buttons__item   
      .slider-buttons__button.slider-buttons__button--right(data-slider-button = attributes.next)
        +arrow-svg.slider-buttons__icon
