mixin social 
  .social(class=attributes.class)
    .social__item(data-aos='fade-up') 
      a.social__link(href="#") 
        +instagram-svg.social__icon
    .social__item(data-aos='fade-up') 
      a.social__link(href="#") 
        +facebook-svg.social__icon
    .social__item(data-aos='fade-up') 
      a.social__link(href="#") 
        +twitter-svg.social__icon