mixin social 
  .social 
    .social__item 
      a.social__link(href="#") 
        +instagram-svg.social__icon
    .social__item 
      a.social__link(href="#") 
        +facebook-svg.social__icon
    .social__item 
      a.social__link(href="#") 
        +twitter-svg.social__icon