mixin search-svg  
  svg(class=attributes.class width='19' height='19' viewbox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg')
    circle(cx='9.31516' cy='9.31522' r='7.11594' stroke='#292929' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M14.2644 14.634L17.0543 17.4166' stroke='#292929' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
  
mixin arrow-svg 
  svg(class=attributes.class width='12' height='8' viewbox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M10.6666 1.66669L5.99992 6.33335L1.33325 1.66669' stroke='#292929' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')

mixin bag-svg 
  svg(class=attributes.class width='36' height='37' viewbox='0 0 36 37' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M24.9169 14.0592V8.50055C24.9169 4.67988 21.8204 1.58338 18.0016 1.58338C14.1809 1.56688 11.0697 4.64871 11.0532 8.46938V8.50055V14.0592' stroke='#292929' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M26.6941 35.5006H9.30594C4.99377 35.5006 1.5 32.0081 1.5 27.6998V17.5871C1.5 13.2788 4.99377 9.78632 9.30594 9.78632H26.6941C31.0062 9.78632 34.5 13.2788 34.5 17.5871V27.6998C34.5 32.0081 31.0062 35.5006 26.6941 35.5006Z' stroke='#292929' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')

mixin plus-svg 
  svg(class=attributes.class width='36' height='36' viewbox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M28.0234 17.6989L7.37467 17.6989' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M17.699 28.0233L17.699 7.37456' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')

