mixin thumb-slider
  .thumb-slider
    .thumb-slider__container 
      .thumb-slider__slider
        .thumb-slider__control
          .slider-buttons.slider-buttons--wide
            .slider-buttons__item   
              .slider-buttons__button.slider-buttons__button--left
                +arrow-svg.slider-buttons__icon
            .slider-buttons__item   
              .slider-buttons__button.slider-buttons__button--right
                +arrow-svg.slider-buttons__icon
        .swiper-container.swiper-container--slide-width-auto.swiper-container--slide-height-max
          .swiper-wrapper
            - for (i = 0; i < 3; i++)
              .swiper-slide 
                .thumb-slider__slide 
                  img.thumb-slider__slide-img(src="assets/images/thumb-slider-1.jpg", alt="")
              .swiper-slide 
                .thumb-slider__slide 
                  img.thumb-slider__slide-img(src="assets/images/thumb-slider-2.jpg", alt="")
      .thumb-slider__inner
        .thumb-slider__thumbs
          .swiper-wrapper
            .swiper-slide
              .thumb-slider__thumb.thumb-slider__thumb--active
                img(src="assets/images/thumb-slider-1.jpg", alt="")
            .swiper-slide
              .thumb-slider__thumb
                img(src="assets/images/thumb-slider-2.jpg", alt="")
            .swiper-slide
              .thumb-slider__thumb
                img(src="assets/images/thumb-slider-1.jpg", alt="")
            .swiper-slide
              .thumb-slider__thumb
                img(src="assets/images/thumb-slider-2.jpg", alt="")
            .swiper-slide
              .thumb-slider__thumb
                img(src="assets/images/thumb-slider-1.jpg", alt="")
            .swiper-slide
              .thumb-slider__thumb
                img(src="assets/images/thumb-slider-2.jpg", alt="")