mixin tour 
  .tour 
    .tour__container 
      if (attributes.title)
        h2
          |#{attributes.title}
      else 
        h2 
          |Tours
      each item in attributes.text
        p.tour__text 
          |#{item.text}